<p>På holderdeord.no kan du stille spørsmål til alle stortingsrepresentanter. Formålet er å legge til rette for saklig meningsbryting med stor takhøyde. </p>

<p>Alle spørsmål og svar modereres. </p>

<p>Du må oppgi fullt navn og gyldig epostadresse når du stiller spørsmål. Disse vil ikke bli videreformidlet til utenforstående. Du bestemmer selv i den publiserte saken om du ønsker å opptre med fullt navn eller kun med initialer. </p>

<p>Spørsmålene kan ikke være lengre enn 1000 tegn, og kan kun rettes til nåværende stortingsrepresentanter.</p>

<p>Alle spørsmål og svar skal først og fremst handle om politiske problemstillinger heller enn personlige forhold. Der hvor disse forholdene er sammenfallende vil Holder de ord kunne publisere spørsmål som vi mener er av samfunnsmessig betydning.</p>

<p>Skriv ikke spørsmål eller svar som er ærekrenkende, rasistiske, truende eller på annen måte bryter med norsk lov. Unngå nedsettende personkarakteristikker og personangrep. Bruk egne og andres erfaringer med aktsomhet. Ikke utlever andre og ikke krenk privatlivets fred. Ikke tillegg andre meninger de ikke har.</p>

<p>Spørsmål og svar med reklame vil ikke bli publisert. Spørsmål stilt av stortingsrepresentanter til andre stortingsrepresentanter eller hvor avsender er anonym vil ikke bli publisert. Holder de ord vil heller ikke publisere spørsmål som allerede er stilt og besvart.  </p>

<p>Holder de ord ønsker å profilere gode spørsmål og svar. Vi forbeholder derfor retten til å redigere og presentere deler av tekster også andre steder enn under Spørsmål og Svar.</p>

<p>Holder de ord har retten til å nekte enkeltpersoner og politiske partier bruk av tjenesten ved gjentatte brudd på disse retningslinjene. </p>
