<div class="page-header">
  <%= link_to t('app.questions.new'), new_question_path, class: 'btn btn-primary pull-right' %>
  <h1>Spør en stortingspolitiker</h1>
</div>

<% @questions.each do |category, questions| %>
  <%= render partial: 'questions_section', locals: { category: category, questions: questions} %>
<% end %>
