<% page_title "#{t 'app.questions.title'} - #{t 'app.title'}" %>
<% metadata[:url] = new_question_url %>

<div class="page-header">
  <div class="pull-right"><%= render partial: 'shared/social_sharing' %></div>
  <h1><%= t 'app.questions.title' %></h1>
</div>

<div class="row-fluid">
  <%= render 'form' %>
</div>
