<tr>
  <td><%= select_tag "party_comments[#{party_comment_id}][party]", party_options(selected: party_comment_party) %></td>
  <td>
    <div id="wmd-button-bar-<%= party_comment_id %>"></div>
    <%= text_area_tag "party_comments[#{party_comment_id}][body]", party_comment_body, class: 'span7', rows: '10', id: "wmd-input-#{party_comment_id}" %>
    <strong>Preview</strong>
    <div id="wmd-preview-<%= party_comment_id %>" class="well"></div></td></td>
  </td>
  <td><button class="btn btn-danger destroy-comment">DESTROY!!</button></td>
</tr>
