<h3>
  <%= t('app.issues.edit.connected_propositions') %>
  <small class="pull-right"><%= t('app.counts.propositions', count: @propositions_and_connections.size).html_safe %></small>
</h3>

<div class="vote-container">
  <%= render partial: 'propositions_list', locals: { propositions_and_connections: @propositions_and_connections} %>
</div>
