<div class="row">
  <div class="pagination pull-right">
    <ul>
      <% issue_steps.each do |step| %>
      <li class="<%= 'active' if params[:step] == step %>">
        <%= link_to Issue.human_attribute_name(step), '#', :onclick => "submitStep('#{step}');"  %>
      </li>
      <% end %>
    </ul>
  </div>
</div>

<script>
  function submitStep(step) {
    var form = $('.edit_issue');
    $('<input>').attr({
      type: 'hidden',
      id: 'step-name',
      name: 'next_step',
      value: step
      }).appendTo(form);
    form.submit();
  }
</script>