<div class="row">
  <div class="pagination pull-right" data-widget="submitStep">
    <ul>
      <% issue_steps.each do |step| %>
      <li class="<%= 'active' if params[:step] == step %>">
        <%= link_to Issue.human_attribute_name(step), '#', data: {step: step.to_s}  %>
      </li>
      <% end %>
    </ul>
  </div>
</div>