<figure class="position">
  <div>
    <table class="table" id="positions-table">
      <tbody>
        <% @issue.positions.each do |position| %>
        <tr>
          <td>
            party logos
          </td>
          <td><%= position.description %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <figcaption class="muted">
    <%= render partial: 'shared/social_sharing' %>
    <p><%= @issue.explanation %></p>
  </figcaption>

</figure>
