<figure class="position">
  <div>
    <table class="table" id="explanations-table">
      <tbody>
        <% @issue.valence_issue_explanations.each do |explanation| %>
        <tr>
          <td>
            party logos
          </td>
          <td><%= explanation.explanation %></td>
        </tr>
        <% end %>
      </tbody>
    </table>
  </div>

  <figcaption class="muted">
    <%= render partial: 'shared/social_sharing' %>
    <p><%= @issue.explanation %></p>
  </figcaption>

</figure>
