<div class="row-fluid">
  <div class="tabbable">
    <ul class="nav nav-tabs">
      <li class="span6 active"><a data-toggle="tab" href="#connected-tab"><%= t 'app.issues.edit.connected_votes' %></a></li>
      <li class="span6"><a data-toggle="tab" href="#search-tab"><%= t 'app.search.button' %></a></li>
    </ul>

    <div class="tab-content">
      <div class="tab-pane active" id="connected-tab">
        <%= render 'votes_connected' %>
      </div>

      <div class="tab-pane" id="search-tab">
        <%= render 'votes_search' %>
      </div>
    </div>
  </div>
</div>
