<% issues.each do |issue| %>
  <%= link_to issue, class: "issue" do %>
  <div class="title"><%= issue.title %></div>

    <div class="muted">
      <%= @party.name %> har
      <%= issue.valence_explanation_for(@party).try(:downcased_title) %>
    </div>
  <% end %>
<% end %>

