<div class="item">
  <% representative_group.each do |representative| %>
    <%= link_to(representative, :class => "representative-view") do %>
      <img class="representative-carousel-image",
           alt="<%= representative.full_name%>",
           data-src="<%= path_to_image representative.image %>"
           />
    <% end %>
  <% end %>
</div>
