<div id="representative-carousel" class="carousel slide">
  <div class="carousel-inner">
    <% representatives.each_slice(4).with_index do |representative_group, index| %>
      <div class="item <%= 'active' if index == 0 %>">
        <% representative_group.each do |representative| %>
          <%= link_to(representative, :class => "representative-view") do %>
            <%= image_tag representative.image, class: "representative-carousel-image",:alt => representative.full_name %>
          <% end %>
        <% end %>
      </div>
    <% end %>
  </div>

  <a class="carousel-control left" href="#representative-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#representative-carousel" data-slide="next">&rsaquo;</a>
</div>


<% content_for :document_ready do %>
    <script>
    $(document).ready(function() {
      $('.carousel').carousel();
    })
    </script>
<% end %>
