<div class="pull-right">
  <input id="representativeSearch" type="search" name="representative-search" class="typeahead" placeholder="Søk etter representant">
</div>

<% content_for :document_ready do %>
  <script>
    $(document).ready(function() {
      var representatives = <%= representatives.to_json.html_safe %>;
      HDO.setupRepresentativeSearch({
        element: document.getElementById("representativeSearch"),
        data: representatives
      });
    });
  </script>
<% end %>
