<div id="representative-carousel" class="carousel slide">
  <div class="carousel-inner">
    <% representatives.each_slice(4).with_index do |representative_group, index| %>
      <%= render 'active_carousel_item', locals: { representative_group: representative_group } if index == 0 %>
      <%= render 'lazy_carousel_item', locals: { representative_group: representative_group } unless index == 0 %>
    <% end %>
  </div>

  <a class="carousel-control left" href="#representative-carousel" data-slide="prev">&lsaquo;</a>
  <a class="carousel-control right" href="#representative-carousel" data-slide="next">&rsaquo;</a>
</div>


<% content_for :document_ready do %>
  <script>
    $(document).ready(function() {
       HDO.initRepresentativeCarousel();
    });
  </script>
<% end %>
