<% if topics.any? %>

  <ul class="unstyled">
    <% topics.each do |topic| %>
      <li>
        <%= topic.stats.text_for(party, :html => true) %> <%= link_to topic.downcased_title, topic %>.
      </li>
    <% end %>
  </ul>

<% else %>

  <h3>Ingen tema for øyeblikket</h3>

<% end %>