<div class="page-header">
  <h1><%= Party.model_name.human(count: 2).capitalize %></h1>
</div>

<div class="row">
  <ul class="thumbnails">
  <% @parties.each do |party| %>
    <li class="span2">
      <%= link_to party do %>
        <%= image_tag party.logo, alt: party.name + 's logo' %>
      <% end %>
    </li>
  <% end %>
  </ul>
</div>