<div class="container-fluid">
  <h2>Spørsmål for <%= current_representative.name  %></h2>
</div>
<table class="table table-condensed table-hover">
  <thead>
    <th>Fra</th>
    <th>Dato</th>
    <th>Spørsmål</th>
    <th></th>
  </thead>
  <tbody>
    <% @questions.each do |question| %>
      <tr>
        <td><%= question.from_name %></td>
        <td><%= l question.updated_at, format: :text_time %></td>
        <td><%= link_to question.body, representative_question_path(question) %></td>
        <td></td>
      </tr>
    <% end %>
  </tbody>
</table>
