language: ruby
rvm:
  - 1.9.3
services:
  - postgresql
  - elasticsearch
notifications:
  webhooks: http://deploy.holderdeord.no/travis
  recipients:
    - jari@holderdeord.no
  hipchat:
    rooms:
      secure: "dPDcvtGQXXzdj31ftZkRShrn+l1TCnTEPTdr6YVAfzAI1Ashzhr4yGvnNfMs\n4lbxYDJfRxpTO5Xd1Hte5HH7c0ijoHEGjajySSl43+nLeShw+CWhuxKSbmCM\nnICGbjLhNPSDTIg1QPO/AkUCF3YG6szmd3JX9XLathUrt0HOBTY="
    on_success: change
    on_failure: change
  template:
    - "%{author} | %{commit} | %{message} | %{build_url}"
  irc:
    channels:
      - "irc.freenode.net#holderdeord"
    on_success: change
    on_failure: change
    template:
      - "%{author} | %{commit} | %{message} | %{build_url}"
install: touch ~/do_not_run_bundle
before_script:
  - ./script/travis/bundle_install.sh
  - dpkg -s elasticsearch | grep --color=never Version
  - mv config/database.yml.travis config/database.yml
  - sh -e /etc/init.d/xvfb start
  - 'npm install -g buster autolint || (sleep 5 && npm install -g buster autolint)'
script: "RAILS_ENV=test SPEC_OPTS=--backtrace bundle exec rake travis"
env:
  - DISPLAY=:99.0 COVERAGE_THRESHOLD=83
