language: ruby
rvm:
  - 1.9.3
services:
  - postgresql
  - elasticsearch
notifications:
  recipients:
    - jari@holderdeord.no
  irc:
    channels:
      - "irc.freenode.net#holderdeord"
    on_success: change
    on_failure: change
    template:
      - "%{author} | %{commit} | %{message} | %{build_url}"
script: "RAILS_ENV=test SPEC_OPTS=--backtrace bundle exec rake travis"
before_script:
  - mv config/database.yml.travis config/database.yml
  - sh -e /etc/init.d/xvfb start
  - sudo apt-get install wnorwegian # for decomposing words
  - 'npm install -g buster autolint || (sleep 5 && npm install -g buster autolint)'
env:
  - DISPLAY=:99.0 COVERAGE_THRESHOLD=82
