<div class="representative-dashboard">
  <h2>Hei <%= current_representative.name %>!</h2>

  <div class="row-fluid">
    <p class="lead">Vi har lagt denne tjenesten p책 is inntil videre for 책 fokusere p책 andre ting. Takk for interessen!</p>
    <p>Lurer du p책 noe? Send oss gjerne en <%= mail_to 'kontakt@holderdeord.no', 'epost', encode: 'hex' %></a>.</div>
  </div>

  <hr>
</div>

