<h3><%= Proposition.model_name.human(count: 2).capitalize %></h3>

<ul>
  <% results.each do |r| %>
    <% if r.votes.first %>
      <li><%= link_to r.description, vote_path(r.votes.first.slug) %></li>
    <% end %>
  <% end %>
</ul>
