<h3><%= Representative.model_name.human(count: 2).capitalize %></h3>

<ul>
  <% results.sort_by(&:last_name).each do |r| %>
    <li>
      <%= link_to r.full_name, representative_path(r.slug) %>
      (<%= [r.district.name, r.current_party && r.current_party.name].join(", ") %>)
    </li>
  <% end %>
</ul>
