<h5 class="issue-party-promise-title">Løfter fra <%= source %></h5>
<ul class="issue-party-promise-list">
  <% if promises.any? %>
    <% promises.each do |promise| %>
      <li><%= link_to promise.body, promise_path(promise) %></li>
    <% end %>
  <% else %>
    <li><%= t 'app.parties.no_promises' %></li>
  <% end %>
</ul>
