<div class="row-fluid">
  <label class="span3">Posisjonsbeskrivelse
    <input type="checkbox" checked id="toggle-position-description">
  </label>

  <label class="span3">Ordholding
    <input type="checkbox" checked id="toggle-accountability">
  </label>

  <label class="span3">Løfter
    <input type="checkbox" checked id="toggle-promises">
  </label>

  <label class="span3">Avstemningsdetaljer
    <input type="checkbox" checked id="toggle-vote-details">
  </label>

  <% content_for :document_ready do %>
  <script>
  $(function () {
    $("#toggle-position-description").click(function () { $(".position-description").toggle(); });
    $("#toggle-promises").click(function () { $(".promises").toggle(); });
    $("#toggle-vote-details").click(function () { $(".vote-detail").toggle(); });
    $("#toggle-accountability").click(function () { $(".accountability").toggle(); });
  })
  </script>
  <% end %>
</div>
