<h2><%= Topic.model_name.human(count: 2).capitalize %></h2>
<div class="well">
  <% @topics.each do |topic| %>
    <div class="row">
      <div class="span6">
        <label class="checkbox">
          <%= check_box_tag "issue[topic_ids][]", topic.id, @issue.topics.include?(topic) %> <%= topic.name %>
        </label>
      </div>
    </div>
  <% end %>
</div>
