<table class="table table-striped">
  <thead>
    <th><%= Issue.human_attribute_name :id %></th>
    <th><%= Issue.human_attribute_name :title %></th>
  </thead>

  <tbody>
    <% @issues.each do |issue| %>
      <tr>
        <td><%= issue.id %></td>
        <td><%= link_to issue.title, issue %></td>
      </tr>
    <% end %>
  </tbody>
</table>