<% page_title "#{t('app.issues.title')} - #{t('app.title')}" %>

<% @groups.each do |tag, issues| %>
  <div class="category">
    <h4><%= tag %></h4>
    <% issues.each do |issue| %>
      <%= link_to issue.title, issue, title: issue.description %>
      <br>
    <% end %>
  </div>
  <br>
<% end %>
