<div class="page-header">
  <h1><%= Issue.model_name.human(count: 2).capitalize %></h1>
</div>

<p class="pull-right"><%= page_entries_info @issues %></p>

<%= render "shared/issue_table", locals: { issues: @issues } %>
<%= will_paginate @issues %>

