<% @groups.each do |tag, issues| %>
  <div class="category">
    <h4><%= tag.name %></h4>
    <% issues.each do |issue| %>
      <%= link_to issue.title, issue, title: issue.description %>
      <br>
    <% end %>
  </div>
  <br>
<% end %>
