<% @groups.each do |topic, issues| %>
  <div class="category">
    <h4><%= topic.name %></h4>
      <% issues.each do |issue| %>
        <%= link_to issue.title, issue, title:issue.description %>
        <br>
      <% end %>
  </div>
  <br>
<% end %>
