<% @groups.each do |topic, issues| %>
<div class="row-fluid">
  <h3><%= topic.name %></h3>
  <ul>
    <% issues.each do |issue| %>
    <li><%= link_to issue.title, issue %></li>
    <% end %>
  </ul>
</div>
<% end %>