<h2>Siste avstemninger</h2>

<dl>
  <% @votes_by_date.each do |date, votes| %>
    <dt><%= distance_of_time_in_words date, Date.today %> siden</dt>

    <% votes.each do |vote| %>
      <dd><%= link_to vote.subject, vote %></dd>
    <% end %>
  <% end %>
</dl>
