<div class="container-fluid">
  <div class="row-fluid">
    <div class="span6">
      <h3>Avstemninger</h3>
      <%= render 'votes_by_date' %>
    </div>

    <div class="span6">
      <h3>Stortingssaker</h3>
      <%= render 'parliament_issues_by_status' %>
    </div>
  </div>

</div>