<div class="form-actions">
  <div class="pull-left">
    <%= form.submit t('app.previous'), name: 'prev_button', disabled: @topic.first_step? %>
    <%= form.submit t('app.next'), disabled: @topic.last_step? or @topic.new_record? %>
  </div>

  <div class="pull-right">
    <%= link_to t('app.cancel'), topics_path, :class => 'btn btn-danger' %>
    <%= form.submit t('app.done'), class: 'btn btn-primary', name: 'finish_button' %>
  </div>
</div>
