<div class="form-actions">
  <div class="pull-left">
    <%= form.submit t('app.previous'), name: 'previous', disabled: disable_prev %>
    <%= form.submit t('app.next'), disabled: disable_next %>
  </div>

  <div class="pull-right">
    <%= link_to t('app.cancel'), topics_path, :class => 'btn btn-danger' %>
    <%= form.submit t('app.done'), class: 'btn btn-primary', name: 'finish' %>
  </div>
</div>
