<label>
  Søk etter voteringer:
  <input type="search" id="vote-search">
</label>


<%= spinner_tag %>

<div id="vote-selector">
</div>

<%= content_for :document_ready do %>
  <script type="text/javascript" charset="utf-8">
    new TopicVoteSelector(<%= @topic.id %>).init();
  </script>
<% end %>
