<% if questions.empty? %>
  <%= representative.full_name %> har foreløpig ingen spørsmål.
<% else %>
  <ul class="representative-questions">
    <% questions.each do |question| %>
      <li>
        <%= link_to question.teaser, question %>

        <p class="muted">
          Fra <strong><%= question.from_display_name %></strong>.
          <%= question.decorate.status_description %>
        </p>
      </li>
    <% end %>
  </ul>
<% end %>
