<div class="representative-vote-list">

<h4><%= @representative.first_name %> har nylig stemt</h4>
  <% @vote_feed.entries.each do |entry| %>
    <div class="row-fluid">
      <p><strong><%= entry.position %></strong> å <%= link_to entry.description, entry.proposition %></p>
    </div>
  <% end %>
</div>
