<div class="representative-vote-list">

<h4><%= @representative.first_name %> har nylig stemt</h4>
  <% @latest_votes.each do |position, description, proposition| %>
    <div class="row-fluid">
      <strong><%= position %></strong> å <%= link_to description, proposition %>
    </div>
  <% end %>
</div>
