<div class="representative-vote-list">

<h4><%= @representative.first_name %> har nylig stemt</h4>
  <% @latest_votes.each do |position, description, proposition| %>
    <div class="row-fluid">
      <strong class="span1"><%= position %></strong>
      <div class="span11"> å <%= link_to description, proposition %></div>
    </div>
  <% end %>
</div>
