<div class="row-fluid" id="representatives">
  <%=
    render partial: 'shared/representatives_table',
           locals: { representatives: @representatives, show_party: true, show_district: true }
  %>
  </div>
