<h2>Saker med nye avstemninger for <%= l 1.day.ago, format: :text %></h2>

<ul>
  <% @parliament_issues.each do |pi| %>
    <li><%= link_to pi.summary, parliament_issue_url(pi) %></li>
  <% end %>
</ul>

<h3>
  <%= @proposition_counts.pending %> av <%= @proposition_counts.total %> forslag venter på publisering.
</h3>
