<p>Kjære <%= @resource.name %></p>

<p>Velkommen til Spørsmål og Svar, en tjeneste utviklet av Holder de ord. </p>

<p>
  <%= link_to 'holderdeord.no', root_url %> ønsker å være din uavhengige kilde for fakta om norsk stortingspolitikk, og gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av. Vårt mål er å bidra til en samfunnsdebatt preget av åpenhet, saklighet, samfunnsengasjement og dialog.
</p>

<p>
  Spørsmål- og svartjenesten skal skape en arena hvor politikere og velgere kan delta i saklig politisk debatt med stor takhøyde.
</p>

<p>
  Vi har utviklet et system som gjør det enkelt for deg å sjekke spørsmål og legge inn svar.
  <%= link_to 'Klikk her', confirmation_url(@resource, confirmation_token: @resource.confirmation_token) %> for å komme i gang!
</p>

<p>Alle spørsmål rettes direkte til en representant, og Holder de ord modererer spørsmål slik at de er i tråd med våre retningslinjer. </p>

<p>Vennlig hilsen,</p>
<p>Holder de ord</p>
