<div class="categories">
  <ul class="nav nav-stacked nav-pills">
    <% categories.each do |category| %>
      <li>
        <a href="#" data-category-id="<%= category.id %>"><%= category.human_name %></a>
      </li>
    <% end %>
  </ul>
</div>