<div class="row-fluid issue-navigation">
  <% if previous_item %>
    <p class="pull-left">
      <%= link_to previous_item do %>
        &larr; <%= previous_item.read_attribute(item_text_attr) %>
      <% end %>
    </p>
  <% end %>

  <% if next_item %>
    <p class="pull-right">
      <%= link_to next_item do %>
        <%= next_item.read_attribute(item_text_attr) %> &rarr;
      <% end %>
    </p>
  <% end %>
</div>