<%= spinner_tag %>
<div class="promises-results">
  <div id="choose-category">&larr; Velg en kategori</div>
  <div class="empty-results-message hidden">
    <h3>Partiet har ingen løfter i denne kategorien.</h3>
  </div>
</div>