  <ul class="representatives-list">
      <% @representatives.each do |rep| %>
      <li class="vcard">
	<%= image_tag rep.image, class: 'representative-image'  %>
        <span class="n fn"><%= link_to rep.display_name, rep %></span>
        <% if show_party %>
	        <span class="org"><%= link_to rep.party.name, rep.party %></span>
        <% end %>
      </li>
      <% end %>
  </ul>
