<div class="social">
  <a href="https://twitter.com/share" class="twitter-share-button" data-via="holderdeord" data-lang="no" data-dnt="true">Tweet</a>
  <div class="fb-like" data-layout="button_count" data-send="false" data-show-faces="false" data-font="arial" data-action="recommend"></div>
</div>
