<div class="span4 blog">
    <h3>Blogg</h3>
    <small id="description">Her skriver vi om små og store ting som opptar oss.</small>

    <div>
      <h4><%= link_to latest_post.title, latest_post.url %></h4>
      <small>Skrevet av: <%= latest_post.author %></small>
      <% latest_post.text.each do |paragraph| %>
        <% if (!paragraph.to_s.include? "<br>") %>
          <p><%= paragraph.to_s.html_safe %><p>
        <% end %>
      <% end %>
      <%= link_to "Les hele innlegget", @latest_post.url %>
    </div>
</div>