<form class="form-search" method="GET" action="<%= search_all_path %>">
  <input type="text" class="span11 search-query" name="query">
  <button type="submit" class="btn btn-large"><%= t 'app.search.button' %></button>
</form>

