<section class="row-fluid social-media">
  <div class="span6">
    <h2>Følg oss i sosiale medier</h2>
    <p class="intro">
      Følg oss på <a href="https://twitter.com/holderdeord">Twitter</a> og <a href="https://facebook.com/holderdeord">Facebook</a> så holder vi deg oppdatert på norsk politikk!
    </p>
    <div class="row-fluid">
      <div class="span6">
        <div class="social-network">
          <div class="fb-like" data-href="https://www.facebook.com/holderdeord" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
        </div>
      </div>
      <div class="span6">
        <div class="social-network">
          <a href="https://twitter.com/holderdeord" class="twitter-follow-button" data-show-count="true" data-lang="no">Følg @holderdeord</a>
        </div>
      </div>
    </div>

    <br/><br/><br/><br/>

    <!-- Begin MailChimp Signup Form -->
    <h2>Motta vårt nyhetsbrev</h2>
    <div id="mc_embed_signup">
      <form action="https://holderdeord.us4.list-manage.com/subscribe/post?u=98ce3956088d8de6f693d1ae1&amp;id=28f22afa7c" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate form-inline" target="_blank" novalidate>
        <label for="mce-EMAIL">Få oppdateringer fra Holder de ord med jevne mellomrom.</label>
        <div>
          <input type="text" value="" name="EMAIL" class="input-xlarge" id="mce-EMAIL" placeholder="Epostadresse" required>
          <input type="submit" value="Meld deg på" name="Subscribe" id="mc-embedded-subscribe" class="btn btn-primary">
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div>

  <div class="span6">
    <a class="twitter-timeline" href="https://twitter.com/holderdeord" height="420" data-widget-id="262119575246733312" data-lang="no">Følg @holderdeord</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</section>
