<section class="row-fluid social-media">
  <div class="span6">
    <h2>Følg oss i sosiale medier</h2>
    <p class="intro">
      Følg oss på <a href="https://twitter.com/holderdeord">Twitter</a> og <a href="https://facebook.com/holderdeord">Facebook</a> så holder vi deg oppdatert på norsk politikk!
    </p>
    <div class="row-fluid">
      <div class="span6">
        <div class="social-network">
          <div class="fb-like" data-href="https://www.facebook.com/holderdeord" data-send="false" data-layout="button_count" data-width="100" data-show-faces="false"></div>
        </div>
      </div>
      <div class="span6">
        <div class="social-network">
          <a href="https://twitter.com/holderdeord" class="twitter-follow-button" data-show-count="true" data-lang="no">Følg @holderdeord</a>
        </div>
      </div>
    </div>
  </div>

  <div class="span6">
    <a class="twitter-timeline" href="https://twitter.com/holderdeord" height="420" data-widget-id="262119575246733312" data-lang="no">Følg @holderdeord</a>
    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
  </div>
</section>
