<% page_title "#{t 'app.what_we_do'} - #{t 'app.title'}" %>

<h1 id='hva-vi-gjr'>Hva vi gjør</h1>

<p>Holder de ord er en partipolitisk uavhengig organisasjon som ble grunnlagt på slutten av 2010 med et ønske om å gjøre det lettere å følge med på hva som skkjer i norsk politikk.</p>
<h2 id='vr-profil'>Vår profil</h2>

<p>Holder de ord opererer etter prinsipper som skal sikre partipolitisk uavhengighet, og har et tydelig samfunnsnyttig formål.</p>

<p>Holder de ords formål er å bidra til en samfunnsdebatt preget av åpenhet, saklighet, samfunnsengasjement og dialog. Dette er utgangspunktet for hva Holder de ord velger å publisere, og hvilke publisistiske retningslinjer redaksjonen følger. Holder de ord følger redaktørplakaten og Vær Varsom-plakten der hvor de er aktuelle for oss.</p>

<p>Hovedinnholdet på <a href="http://www.holderdord.no">www.holderdord.no</a> er datasett om hvordan partier og stortingsrepresentanter i konkrete politiske saker, partiprogram og andre politiske løfter. Dette er det <em>vesentlige</em> stoffet Holder de ord til enhver tid publiserer.</p>

<p>Les mer om <a href="/home/future">hva vi utvikler for tiden</a>.</p>
<h2 id='sakene-p-holderdeordno'>Sakene på holderdeord.no</h2>

<p>På holderdeord.no samler vi avstemninger fra Stortinget og valgløfter fra partiprogram og gjør det enkelt å finne ut hva politikerne har lovet og stemt i saker du er opptatt av.</p>

<p>Sakene du finner på holderdeord.no er formulert som politiske standpunkt man kan være for eller mot, for eksempel mot eller for «å fjerne formueskatten». En sak skal være gjenkjennelig og meningsfull, uavhengig av om man er enig i standpunktet politisk, og skal ikke kunne brytes opp i mindre saker.  </p>

<p>Under en sak samler Holder de ord alle relevante avstemninger tilknyttet saken, og viser hvordan partiene har stemt på Stortinget under disse. I hver sak får partiene en skår basert på hvor mange ganger de har stemt for eller mot saken i de individuelle avstemningene. Holder de ord opererer med tre graderinger av partienes stemmegivning: <strong>for</strong> (0 – 33%), <strong>både for og mot</strong> (34 – 66 %) og <strong>mot</strong> (67 – 100%). Deretter henter vi relevante valgløfter fra partiprogrammene og knytter så disse opp til den aktuelle saken.</p>

<p>Partier velger av og til å kompromisse på enkelte standpunkter for å oppnå resultater i andre saker. Dette er viktig for holderdeord.no å få frem. Partiene har derfor mulighet til å forklare og utdype hvorfor de har stemt som de har gjort i de ulike sakene.</p>
<h2 id='vekting-av-avstemninger'>Vekting av avstemninger</h2>

<p>I hovedsak er det tre ulike typer saker som behandles på Stortinget: budsjettsaker, lovsaker og det Stortinget kaller alminneligsaker – blant annet representantforslag og Stortingsmeldinger. Disse sakene er imidlertid forskjellige når det gjelder forarbeid, omfang og lengde på behandlingen i Stortinget, samt utfall. Derfor gir vi de ulike typene avstemninger ulik vekt når summen av partienes stemmegivning beregnes. Formålet er å bevare et reelt bilde av hva som foregår på Stortinget, men samtidig forsøke å gjøre de politiske beslutningene mer tilgjengelige for velgerne. Gjennom å vekte avstemningene ulikt, kan vi presentere saker som tar innover seg politiske nyanser, samtidig som utgangspunktet er faktisk stemmegivning i Stortingssalen. I tabellen under vises en oversikt over våre vekter.</p>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Vekt</th>
      <th>Betydning</th>
      <th>Sakstype på Stortinget</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>0</td>
      <td>Uten formell betydning</td>
      <td>Stortingsmeldinger</td>
    </tr>
    <tr>
      <td>0.5</td>
      <td>Noe viktig</td>
      <td>Forslag som vedlegges protokollen</td>
    </tr>
    <tr>
      <td>1.0</td>
      <td>Viktig</td>
      <td>Representantforslag, Opposisjonsforslag, Alternative statsbudsjett</td>
    </tr>
    <tr>
      <td>2.0</td>
      <td>Svært viktig</td>
      <td>Lovsaker, Proposisjoner, Statsbudsjett</td>
    </tr>
  </tbody>
</table>

<p>Holder de ord benytter en enkel vektemodell, for å bevare fokuset på stemmegivning slik det skjer på Stortinget. Vi gjør også vektingen tilgjengelig og etterprøvbar for de som ønsker gå i dybden og se datamaterialet bak de sakene vi omtaler. I vår modell har lov- og budsjettforslag dobbel vekt jamført med representantforslag og alternative budsjettforslag. Forslag som vedlegges protokollen har halv vekt sammenlignet med representantforslag, og stortingsmeldinger regnes som uten formell betydning.</p>
<h2 id='valglfter-og-lftedatabasen'>Valgløfter og løftedatabasen</h2>

<p>Holder de ord kategoriserer valgløfter fra partiprogram og regjeringserklæringer fortløpende når de blir vedtatt av enten landsmøter eller regjeringskoalisjoner.  Et valgløfte er en politisk lovnad som staker ut en politisk kurs eller foreslår et konkret handlingsmål (Naurin 2009).</p>

<p>Holder de ord fokuserer i første omgang på partienes partiprogrammer og eventuelle regjeringserklæringer. I valgprogrammene presenterer partiene og politikerne sine visjoner og planer, og disse danner grunnlaget for valgkampen ved å forklare for velgerne hvordan partiene vil bruke makten dersom de får støtte fra velgerne. Det ligger et vesentlig element av forpliktelse fra partiene til å oppfylle de politiske løftene de gir før valget. Sammenhengen mellom gjennomført politikk og valgløfter er dermed viktig. I en koalisjonsregjering forhandler partiene frem en regjeringserklæring, som er regjeringspartienes felles plattform for den kommende Stortingsperioden. Her inngås det kompromisser og viktige saker fremheves. For å få et representativt bilde inngår derfor også løfter fra disse regjeringserklæringene i Holder de ords løftedatabase.</p>
