<div class="page-header">
  <h1>Om metoden</h1>
</div>

<div class="row-fluid">
  <p>Holder de ord gjør det enkelt for folk å sjekke hva politikerne på Stortinget lover og gjør i saker de er opptatt av. Det finnes mange andre viktige arenaer for politikk, som arbeid i regjeringen, fylkeskommuner og kommuner, men foreløpig fokuserer Holder de ord kun på det som skjer på Stortinget.</p>
  <p>Vi henter avstemningsdata fra Stortinget og valgløfter fra partiprogram og sammenstiller disse.  Sakene fremstilles så på en enkel måte som gjør at du fort kan finne ut hva politikerne har lovet og hva de har stemt i bestemte saker. Siden vi i Norge stort sett opererer med partistemming, fokuserer Holder de ord hovedsakelig på hva de ulike partiene samlet har stemt i en gitt sak. I de tilfellene hvor en representant stemmer annerledes enn det som er partistandpunktet vil dette bli merket.</p>

</div>

<div class="row-fluid">
  <h2 id="issues">Saker og partiposisjoner</h2>

  <p>En sak defineres som et politisk standpunkt, eksempelvis om å «fjerne eller redusere formueskatt». Under en sak samler vi alle relevante avstemninger og viser partiposisjonene som en sum av disse avstemningene. For hver avstemning gjør Holder de ord en vurdering av hvorvidt å stemme for et forslag i Stortinget er å stemme i tråd med saken slik den blir angitt i sakens overskrift. I tillegg hentes relevante valgløfter fra løftedatabasen, som så knyttes til saken.</p>

  <p>Partiene får dermed en skår på hver sak basert på hvor mange ganger de har stemt for eller mot saken i de individuelle avstemningene. Denne skåren brukes til å gi en samlet oversikt over hvordan partiene har stemt i saken totalt sett. Holder de ord opererer med fem graderinger:</p>

  <ul>
    <li>for (81-100%)</li>
    <li>stort sett for (61-80%)</li>
    <li>både for og mot (41-60%)</li>
    <li>stort sett mot (21-40%)</li>
    <li>mot (0-20%)</li>
  </ul>

  <h3 id="method-weights">Vekting av saker</h3>
  <p>Alle avstemninger i Stortinget er ikke like viktige. Noen avstemninger, slik som representantforslag fra opposisjonen, kan ofte fremmes for å markere egen politikk, særlig når det er en flertallsregjering og man vet at forslaget ikke kommer til å bli vedtatt. Andre avstemninger, slik som statsbudsjettet eller lovsaker, gir faktiske konsekvenser for samfunnet i form av tilskudd og bevilgninger eller innførte lover.</p>

  <p>For å gjøre presentasjonen av politikken mer representativ, vekter vi derfor avstemningene etter deres faktiske betydning. En vektet avstemning får større relativ tyngde i forhold til andre avstemninger i samme sak. Man får da et resultat som i større grad speiler den faktiske politikkutformingen på Stortinget. Vekting medfører enkelte skjønnsmessige vurderinger, og Holder de ord opererer med tre kriterier som kan gjøre at en sak blir vektet opp eller ned:</p>

  <dl>
    <dt>Sakstype på Stortinget</dt>
    <dd>Forskjellige stortingssaker har forskjellig betydning. I stortingsmeldinger gjøres ingen reelle politiske vedtak, og disse vektes derfor lavt. Forslag som vedlegges protokollen vektes noe høyere. Når en avstemning vedlegges protokollen, betyr det ofte at flertallet er enige i innholdet, men at den er under arbeid i Regjeringen, eller at den skal opp til behandling i en annen form senere. Representantforslag vektes høyere, men anses fremdeles som mindre viktige, siden terskelen for å fremme slike ikke er særlig høy og de ofte er gjenstand for politisk spill. Lovforslag vektes høyere siden disse ofte danner rammene for handling. Statsbudsjettavstemninger vektes høyest siden de fører til direkte, bevilgningsmessige konsekvenser.</dd>

    <dt>Samsvar mellom sak og avstemning</dt>
    <dd>En avstemning kan vektes opp eller ned, avhengig av hvor viktig den er for den konkrete saken. Er innholdet i forslaget svært sentralt for saken, kan for eksempel et lovforslag vektes høyere.</dd>

    <dt>Gjennomførte forslag</dt>
    <dd>Et forslag som faktisk gjennomføres kan vektes opp. Hvis for eksempel representantforslag fra opposisjonen blir vedtatt og gjennomført har dette mer betydning enn bare et fremsatt forslag.</dd>
  </dl>

  <h3>Vekting - skjematisk oversikt</h3>

  <table class="table table-striped">
    <thead>
      <tr>
        <th>Vekt</th>
        <th>Hva betyr vekten?</th>
        <th>Hvilke sakstyper fra Stortinget faller under vekten?</th>
        <th>Avvik fra standardvekting</th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td>0</td>
        <td>Uten formell betydning</td>
        <td>Stortingsmeldinger</td>
        <td></td>
      </tr>

      <tr>
        <td>0.5</td>
        <td>Lite viktig</td>
        <td>Forslag som vedlegges protokollen, alternative statsbudsjett</td>
        <td>Representatforslag som i mindre grad er relevant for sak</td>
      </tr>

      <tr>
        <td>1</td>
        <td>Noe viktig</td>
        <td>Representantforslag inkludert de som fremmes i forbindelse med stortingsmeldinger og statsbudsjett</td>
        <td></td>
      </tr>

      <tr>
        <td>2</td>
        <td>Viktig</td>
        <td>Lovforslag, regjeringsproposisjoner</td>
        <td>Representantforslag som blir gjennomført politisk</td>
      </tr>

      <tr>
        <td>4</td>
        <td>Svært viktig</td>
        <td>Statsbudsjett</td>
        <td>Særdeles viktige lovsaker</td>
      </tr>
    </tbody>
  </table>


</div>

<div class="row-fluid" id="method-promises">
  <h2>Valgløfter</h2>

  <h3>Hva er et valgløfte?</h3>

  <p>I valgkampen presenterer partiene og politikerne sine visjoner og planer i valgprogram. Disse danner grunnlaget for valgkampen gjennom å forklare for velgerne hvordan partiene vil bruke makten dersom de får støtte fra velgerne. Det ligger et vesentlig element av forpliktelse fra partiene til å prøve å oppfylle de politiske løftene de gir før valget. Sammenhengen mellom gjennomført politikk og valgløfter er dermed viktig.</p>

  <p>Definisjon på et valgløfte:</p>

  <p class="well">
    <em>Et valgløfte er en politisk lovnad som staker ut en politisk kurs eller foreslår et konkret handlingsmål.</em>
  </p>

  <p>På sakssiden sammenstilles løftene fra valgprogram med den faktiske stemmegivningen i stortingssalen. Det gjør det mulig å se om politikerne holder det de lover. I tillegg til løfter fra valgprogram, vil Holder de ord i forkant av Stortingsvalget 2013 også utvikle en tjeneste som gjør det mulig for folk å registrere løfter de synes det er viktig at politikere holder, og gjøre det enkelt å følge den videre saksgangen på Stortinget.</p>

  <p>I en koalisjonsregjering forhandler partiene frem en regjeringserklæring, som er regjeringspartienes felles plattform for den kommende Stortingsperioden. Her inngås det kompromisser og viktige saker fremheves. For å få et representativt bilde inngår derfor også løfter fra disse regjeringserklæringene i Holder de ords løftedatabase.</p>

  <h3>Løftedatabasen</h3>

  <p>Holder de ord registrerer valgløfter gitt i partiprogram i en søkbar database. I et moderne demokrati har partiprogrammene en dobbel funksjon: de fungerer som retningsgivende for partiene ved politikkutforming, samtidig som de gir velgerne en anledning til å etterprøve valgløfter som gis i forbindelse med valg. Partiprogrammene står dermed i en særstilling jamført med andre politiske løfter, for eksempel løfter gitt i TV-debatter.</p>

  <h3>Hvordan kategoriserer vi løfter?</h3>

  <p>Partiprogram inneholder mange forskjellige typer informasjon. Når Holder de ord registrerer et løfte vil derfor første skrittet være å skille løfter fra generelle standpunkt og verdierklæringer. Et valgløfte er en politisk lovnad som staker ut en politisk kurs eller foreslår et konkret handlingsmål. Neste skritt er å avgjøre hvorvidt et løfte er generelt eller spesifikt. Lover løftet noe som kan måles, eller representerer det heller et verdisyn eller gir til kjenne en ønsket politisk kurs på generelt grunnlag?</p>

  <p>Holder de ord definerer et spesifikt løfte som et løfte som inkluderer en beskrivelse av en handling eller et mål, og som dermed er mulig å etterprøve. Denne definisjonen omfatter for eksempel økte tilskudd, endring av lovverk, planer om å utrede et tema, eller andre målbare lovnader. Et generelt løfte er et løfte som ikke inkluderer spesifikke mål eller handlinger, men som formulerer generelle målsetninger som ikke lar seg teste.</p>

  <p>Til slutt knyttes løftene til kategorier. Holder de ord bruker Stortingets system for å kategorisere avstemninger. Systemet består av 172 kategorier. Disse dekker alle politiske saksfelt som behandles av Stortinget, og listen oppdateres etter hver stortingsperiode. Siden noen løfter er sammensatte, og omfatter flere tema, kan de derfor også tilhøre flere kategorier.</p>
</div>
