<div class="span8">
  <div class="page-header">
    <h1>Om Holder de ord</h1>
  </div>

  <section>
    <h2>Bakgrunn</h2>
    <p>
      Stortinget er kjernen i vårt politiske system. Alt det våre folkevalgte sier og stemmer på områder som sykehuskøer, skolepolitikk, eller asylsaker, er i utgangspunktet offentlig tilgjengelig informasjon. Men i 2012, når to millioner nordmenn er innom Facebook hver dag, er det fremdeles ikke mulig å finne ut på internett hvordan stortingsrepresentanter stemmer i konkrete saker. Det er både tidkrevende og vanskelig å finne ut hva de enkelte politikerne faktisk har gjort i de ulike sakene, og dette gjør at de fleste av oss ikke vet hva våre folkevalgte driver med, den tiden saker ikke «sprekker» i riksdekkende medier.
    </p>

    <p>
      Demokrati handler ikke lenger bare om valg hvert fjerde år. Den australske statsviteren <a href="http://en.wikipedia.org/wiki/John_Keane_(political_theorist)">John Keane</a> mener verden utvikler seg i retning av en ny og mer avansert form for folkestyre, såkalt undersøkende eller kontrollerende demokrati (<em>monitory democracy</em>), som i tillegg til valg kjennetegnes av et mye bredere og omfattende nettverk av folkelig oppmerksomhet og kontroll med makthavere.
    </p>

    <p>
      Vi er overbeviste om at borgere som engasjerer seg gjennom ulike nettverk og kanaler gjør at de folkevalgte tar bedre og mer velinformerte beslutninger på vegne av oss. En viktig forutsetning er imidlertid at det er lett for alle å følge med på hva som skjer i politikkens hjerte.
    </p>

    <p>
      Holder de ord ble startet i 2010 med et ønske om å gjøre det lettere å følge med på hva som skjer i norsk politikk. Internett gjør det enklere å holde oversikt over hva politikere og partier sier og stemmer, samtidig som terskelen for at den enkelte velger skal engasjere seg i politikk blir lavere. Dette er også årsaken til at liknende initiativ er på plass eller under utvikling i flere land, inkludert USA, Storbritannia, Frankrike, Polen og Finland. Holder de ord drives i dag som en frivillig organisasjon.
    </p>

    <p>
      Omtrent samtidig med initiativet fra Holder de ord i 2010, startet foreningen <a href="http://www.nuug.no/">NUUG</a> i januar 2011 å samle informasjon fra Stortinget med intensjon om å gjøre informasjon om hvem som har stemt hva tilgjengelig på Internett uten bruksbegrensninger. Foreningen NUUG er en medlemsforening for teknologer med interesse for fri programvare, åpne standarder og unix-lignende operativssytemer.  I løpet av 2011 oppdaget de to organisasjonene hverandre og fant ut at de skulle jobbe sammen og dagens løsning er resultat av dette samarbeidet.
    </p>
  </section>

  <section>
    <h2>Hva vi gjør</h2>
    <p>
      Holder de ord handler om å synliggjøre politisk aktivitet, og gi alle interesserte en mulighet til å følge sine politikere gjennom bruken av ny web-teknologi. Helt konkret gjør vi følgende:
    </p>

    <ul>
      <li>Ordner og kontekstualiserer løfter fra partiprogram.</li>
      <li>Innhenter data om hvordan partier og stortingsrepresentanter stemmer i saker.</li>
      <li>Innhenter og ordner annen politisk fakta som har direkte relevans for det norske demokratiet og hvordan det fungerer.</li>
      <li>Formidler og kontekstualiserer politiske beslutninger og hvordan de innvirker på hverdagen til folk flest.</li>
    </ul>

    <p>Denne nettsiden er en tidlig prototype, og innholdet er basert på en betaversjon av voteringsdata fra <a href="http://www.stortinget.no/no/Hva-skjer-pa-Stortinget/Nyhetsarkiv/Hva-skjer-nyheter/2011-2012/Apne-data-fra-Stortinget/">Stortingets datatjeneste</a>. Vi jobber kontinuerlig med å videreutvikle nye funksjoner, og gjennom å kombinere spisskompetanse på programmering, politikk og brukervennlig design, tar vi mål av oss å gjøre det så enkelt som mulig å forstå hva som skjer på Stortinget.</p>
  </section>

  <section>
    <h2>Vi trenger flere samfunnsengasjerte medlemmer!</h2>
    <p>
Holder de ord drives i dag som en partipolitisk uavhengig organisasjon på frivillig basis, og vi er hele tiden på utkikk etter flere medlemmer og medarbeidere! Vi leter etter folk med kompetanse innenfor programmering, informasjonsdesign, statistisk eller politisk analyse og metode, kommunikasjon, og salg. Dersom du eller noen du kjenner har lyst til å bidra og samtidig være med i en sosial gruppe, ta kontakt med oss gjennom å sende en epost til redaksjonen på <a href="mailto:<%= t('app.contact.email') %>"><%= t('app.contact.email') %></a>.</h2>
    </p>
  </section>

  <section>
      <h2>Menneskene bak</h2>

    <p>
      <a href="mailto:<%= obscure_email 'daniel@holderdeord.no' %>"><strong>Daniel Rees</strong></a> er en av grunnleggerne av Holder de ord, og leder i dag organisasjonen. Han har en mastergrad i statsvitenskap fra NTNU i Trondheim, og jobber til daglig som prosjektleder i TNS Gallup med opinionsundersøkelser og kommunikasjonsanalyse knyttet til klima- og energispørsmål. Daniel har bred erfaring som frilansjournalist, fra NRK Her & Nå, og har tidligere jobbet med å utvikle nettsteder for FNs informasjonskontor for Norden og landsdekkende organisasjoner i Norge.
    </p>

    <p>
      <a href="mailto:<%= obscure_email 'tiina@holderdeord.no' %>"><strong>Tiina Ruohonen</strong></a> er en av grunnleggerne av Holder de ord. I dag sitter hun i Holder de ords styre, og har det overordnede ansvaret for kommunikasjon, samfunnskontakt og medierelasjoner. Hun er en selverklært kosmopolitt med fartstid fra flere land, og med en mastergrad i bærekraftig utvikling og etikk. Tiina jobbet i flere år som prosjektleder innenfor klimaområdet, og driver i dag sitt eget konsulentselskap innenfor klima og miljø, etikk, samfunnsansvar, og demokratisk medvirkning.
    </p>

    <p>
      <strong>Ingrid Oline Skeide Ødegaard</strong> leder arbeidet med utformingen av Holder de ords hjemmesider. Til daglig jobber Ingrid som produktsjef i Telenor Comoyo som utvikler internettprodukter innen kommunikasjon og underholdning. Hun har tidligere arbeidet i Afternposten med strategi og forretningsutvikling, og ledet utviklingen av Aftenpostens iPad-applikasjon. Ingrid er utdannet samfunnsøkonom fra NTNU, og har studert entreprenørskap og jobbet i et oppstartselskap i Boston i USA.
    </p>

    <p>
      <strong>Kristofer Rees</strong> jobber med metode, faglig innhold og kategorisering av politiske løfter for Holder De Ord. Kristofer har tidligere studert musikk ved NTNU i Trondheim og Det Kgl. Danske Musikkonservatorium i København, og studerer nå statsvitenskap ved Universitetet i Oslo.
    </p>

    <p>
      <strong>Guro Øistensen</strong> jobber med metode og det faglige innholdet i Holder de ord. Til daglig er hun Communications Manager i IT-bedriften Logica, hvor hun jobber med internett, intranett, PR og intern kommunikasjon. Guro er utdannet sosiolog fra Universitetet i Oslo.
    </p>

    <p>
      <strong>Linn Skorge</strong> jobber med nettverksbygging og salg i Holder de ord. Linn tar for øyeblikket en mastergrad i politisk økonomi på Handelshøyskolen BI. Fra tidligere har hun en bachelorgrad i internasjonal markedsføring, også fra Handelshøyskolen BI.
    </p>

    <p>
      <strong>Linn Katrine Erstad</strong> jobber med kommunikasjon og markedsføring i Holder de ord. Linn Katrine har mastergrad i retorikk fra Københavns Universitet, og jobber nå som prosjektleder for markedsaktiviteter i IT-bedriften Logica. Hun har lang erfaring fra frivillige studentorganisasjoner.
    </p>

    <p>
      <strong>Salve J. Nilsen</strong> (NUUG) og har studert informatikk ved Universitetet i Oslo og ved NTNU i Trondheim, og har jobbet med systemutvikling og drift av nett-tjenester i snart 15 år. Han har også vært aktiv i fagmiljøer rundt programmeringsspråket Perl og bidratt med å arrangere mange treff og konferanser. Han er tilhenger av fri programvare og open source-filosofien innen programvareutviklingen.
    </p>

    <p>
      <strong>Eva Cecilie Jørgensen</strong> tar en mastergrad i politisk økonomi ved Handelshøyskolen BI og skriver sin masteroppgave om lobbyvirksomhet i EU. Hun har to bachelorgrader: en i Europastudier fra Universitetet i Oslo, og en i økonomi og administrasjon fra Høyskolen i Oslo. I Holder de ord jobber hun med nettverksbygging og finansiering.
    </p>

    <p>
      <a href="http://twitter.com/jarib"><strong>Jari Bakken</strong></a> arbeider med utvikling i Holder de ord. Han jobber til daglig hos FINN.no, hovedsakelig med interne verktøy og testautomasjon. Jari programmerer for det meste i Ruby og JavaScript, og står bak mange populære open source-prosjekt med flere millioner nedlastinger. Han er selvlært som utvikler, og har en bachelor i utøvende jazzgitar fra Norges Musikkhøgskole.
    </p>

    <p>
      <strong>Petter Reinholdtsen</strong> (NUUG) er utdannet ved Universitetet i Tromsø, og har lekt med internett og Unix siden 1992. Utvikling og drift på Unix har vært hovedinteressen siden den gang. Han er en aktiv forkjemper for fri programvare og åpne standarder, og er medforfatter i en rekke prosjekter, blant annet Skolelinux, FiksGataMi og Debian. Han er leder av NUUG og jobber for tiden ved Universitetet i Oslo med utvikling av driftstjenester.
    </p>
  </section>
</div>
