<% page_title "#{t 'app.what_we_do'} - #{t 'app.title'}" %>

<h1 id='hva-vi-gjr'>Hva vi gjør</h1>

<p>Holder de ord er en partipolitisk uavhengig organisasjon som ble grunnlagt i november 2010. Vi jobber for å gi folk større innflytelse over politikken ved hjelp av digitale verktøy. </p>

<p>På <a href="http://www.holderdeord.no">www.holderdeord.no</a> finner du: </p>

<ul>
<li>Oversikt over hva partiene har stemt og lovet i en rekke saker, og om de har holdt ord</li>
<li>Løfter fra partienes programmer fra 2009 og fremover</li>
<li>Forslag og avstemninger på Stortinget fra 2009 og fremover</li>
<li>Kommentarer til stemmegivningen fra partiene</li>
</ul>
<h2 id='sakene-p-holderdeordno'>Sakene på holderdeord.no</h2>

<p>På holderdeord.no samler vi valgløfter og avstemninger i saker. Vårt utgangspunkt er politiske saker slik vi kjenner de fra samfunnsdebatten, og er formulert som politiske standpunkt man kan være for eller mot. Siden det ofte i løpet av en stortingsperiode er flere avstemninger i en sak, oppsummerer vi det store bildet øverst i sakene. Hensikten er å gjøre det enkelt å få et oversiktsbilde over hvordan partiene stemmer gjennom stortingsperioden.</p>

<p>I mange saker er det klar uenighet mellom partiene, hvor partiene enten er for eller mot. Eksempler på slike saker er å <a href="http://www.holderdeord.no/issues/187-avskaffe-monarkiet">avskaffe monarkiet</a>, eller å <a href="http://www.holderdeord.no/issues/197-forby-10-pakninger-av-sigaretter">innføre forbud mot 10-pakninger med sigaretter</a>. Det er også mulig å ha stemt både for og mot. </p>

<p>I andre saker er flere eller alle partier enige om et mål, men ikke om hvordan eller hvor raskt man skal komme dit. I denne type saker stemmer partiene ofte mot andre partiers forslag, og for forslag de mener er bedre. Eksempler på slike saker er å <a href="http://www.holderdeord.no/issues/161-investere-mer-i-jernbaneutbygging">investere mer i jernbaneutbygging</a>, eller <a href="http://www.holderdeord.no/issues/65-videreutdanne-flere-laerere">videreutdanne flere lærere</a>. Her fokuserer oppsummeringene mer på partienes egne forslag, som eksempelvis statsbudsjetter og alternative statsbudsjetter. Formålet er å gi en riktig og rimelig fremstilling av partienes stemmegivning. </p>

<p>I statsvitenskap skiller man gjerne mellom to typer saker: valenssaker og posisjonssaker. I valenssaker er målet et gode som ønskes av alle, som gjør at den politiske debatten domineres av konflikter om prioritering. Posisjonssaker kjennetegnes på sin side av en konflikt mellom to motstridende standpunkter, og hvor debatten handler om å enten være for eller mot.</p>
<h2 id='valglfter-og-ordholding'>Valgløfter og ordholding</h2>

<p>I partiprogrammene presenterer partiene hvordan de vil bruke makten dersom de får støtte fra velgerne, som danner grunnlaget for valgkampen. Det ligger derfor et vesentlig element av forpliktelse fra partiene til å oppfylle de politiske løftene de gir før valget. I vår database har vi samlet og kategorisert partiprogram og regjeringserklæringer fra alle stortingspartiene. Vi definerer løfter som «politiske lovnader som staker ut en politisk kurs eller foreslår et konkret handlingsmål».</p>

<p>For å se om partiene holder det de lover i partiprogrammene, knytter vi stemmegivning opp mot relevante valgløfter fra partienes valgprogrammer. Løfter som ikke er spesifikke nok til kunne vurderes, men som likevel sier noe om partiets politikk i saken, tas med som relaterte løfter.</p>

<p>Et løfte kan være holdt, delvis holdt eller ikke holdt. Dersom et parti har stemt for en sak, for eksempel å avskaffe monarkiet, og har et løfte om dette i sitt program, er løftet holdt. Hvis partiet har stemt både for og mot, er løftet delvis holdt, og dersom partiet har stemt mot, er løftet ikke holdt. Dersom partiet har endret stemmegivning underveis i perioden, vektlegger vi de siste avstemningene.</p>

<p>Oversikten over hvor mange saker hvor partiene har holdt ord, oppdateres fortløpende. Denne listen gir kun oversikt over ordholding i de sakene Holder de ord har vurdert, og er ikke en komplett vurdering av hvordan partiene innfrir løftene sine.</p>

<p>Det kan finnes mange grunner til at et parti ikke stemmer i tråd med partiprogrammet. Dette er viktig for holderdeord.no å få frem. Partiene har derfor mulighet til å forklare og utdype hvorfor de har stemt som de har gjort i de ulike sakene.</p>

<p><a href="http://www.nrk.no/ytring/om-a-holde-politiske-lofter-1.11295831">Les mer om å holde politiske løfter her</a>. </p>
<h2 id='spesialbehandling-av-tre-typer-avstemninger'>Spesialbehandling av tre typer avstemninger</h2>

<p>Vi behandler tre typer avstemninger spesielt  for å ta høyde for noen særegenheter i måten stemmegivningen skjer på Stortinget.</p>
<h3 id='stortingsmeldinger'>Stortingsmeldinger</h3>

<p>Stortingsmeldinger brukes når regjeringen vil presentere saker for Stortinget uten at de er knyttet til forslag til vedtak. Vi omtaler stortingsmeldinger der de er relevante, men meldingene har ikke betydning når stemmegivning oppsummeres ettersom Stortinget kun tar innholdet i en melding til etterretning (forslag vedlegges protokollen). Unntaket er konkrete forslag som kommer i forbindelse med behandlingen av en stortingsmelding, som behandles på vanlig måte.</p>
<h3 id='forslag-vedlegges-protokollen'>Forslag vedlegges protokollen</h3>

<p>Det hender ofte at opposisjonspartiene fremmer forslag om noe som  regjeringen allerede arbeider med. I disse tilfellene vil regjeringspartiene ofte foreslå at representantforslaget skal vedlegges protokollen. Dette betyr som regel at man er positiv til innholdet, men uten at man ønsker å gå så langt som å vedta selve forslaget. Representanter fra regjeringspartiene stemmer ofte for å «vedlegge protokollen» dersom en liknende sak er under behandling i regjeringen, eller vil dekkes i en kommende stortingsmelding, et lovforslag eller lignende. En stemme for å vedlegge et forslag til protokollen vil derfor normalt tolkes som en viss støtte til intensjonen i forslaget. </p>
<h3 id='alternative-statsbudsjett'>Alternative statsbudsjett</h3>

<p>Opposisjonens alternative budsjettforslag er særegne i stortingsprosedyren. Samtidig som finansinnstillingen presenteres av Finansministeren i Stortinget, legger opposisjonspartiene frem sine forslag til rammevedtak – etter samme struktur som regjeringens rammevedtak. De alternative budsjettforslagene er viktige indikatorer på hvordan opposisjonspartiene ønsker å styre økonomien, og brukes flittig i debatter og ordskifter. I budsjettforslagene er det mulig for partiene å gjennomføre større omskiftninger i postene og beløpene enn det som ville vært mulig hadde de sittet i regjering. Praksis er imidlertid at det bare er partiet som fremmer det alternative budsjettforslaget som stemmer for det. Derfor har det ingen betydning å stemme mot et annet partis alternative statsbudsjett. </p>
<h1 id='sprsml'>Spørsmål?</h1>

<p>Noe du lurer på? Sjekk ut <a href="http://www.holderdeord.no/home/faq">ofte stilte spørsmål</a> eller <a href="http://www.holderdeord.no/home/contact">kontakt oss</a>!</p>
