<% page_title "#{t 'app.what_we_do'} - #{t 'app.title'}" %>

<h1 id='hva-vi-gjr'>Hva vi gjør</h1>

<p>Holder de ord er en partipolitisk uavhengig organisasjon som ble grunnlagt i november 2010 med ønske om å gjøre det lettere å følge med på hva som skjer på Stortinget.</p>

<p>Vårt mål er å bidra til en samfunnsdebatt preget av åpenhet, saklighet, samfunnsengasjement og dialog. Dette er utgangspunktet for hva Holder de ord velger å publisere. Vi opererer etter prinsipper som skal sikre partipolitisk uavhengighet, og følger redaktørplakaten og Vær Varsom-plakaten der hvor de er aktuelle for oss.</p>

<p>Kjernen i holderdeord.no er en database med alle avstemninger på Stortinget fra 2009 og fremover, og partienes valgløfter fra partiprogrammene.</p>
<h2 id='sakene-p-holderdeordno'>Sakene på holderdeord.no</h2>

<p>På holderdeord.no finner du saker som er formulert som politiske standpunkt man kan være for eller mot. En sak skal være gjenkjennelig og meningsfull, uavhengig av om man er enig i standpunktet politisk.</p>

<p>Holder de ords saker tar utgangspunkt i problemstillinger fra samfunnsdebatten, og samler alle relevante avstemninger fra Stortinget om saken. Ofte er det mange avstemninger om en sak, og for å gjøre det lettere å få oversikt, presenterer vi øverst en oppsummering av hvordan partiene har stemt.</p>
<h2 id='oppsummering-av-partienes-stemmegivning'>Oppsummering av partienes stemmegivning</h2>

<p>I mange saker er det klar uenighet mellom partiene, og i slike saker tildeler vi partiene en posisjon ut fra hvordan de har stemt på tvers av alle relevante avstemninger i saken. Et parti kan ha stemt for (stemt for 67 – 100 % av avstemningene), både for og mot (33 – 67 %) eller mot (0 – 33 %). Eksempler på slike saker er å <a href="http://www.holderdeord.no/issues/187-avskaffe-monarkiet">avskaffe monarkiet</a>, eller å <a href="http://www.holderdeord.no/issues/197-forby-10-pakninger-av-sigaretter">innføre forbud mot 10-pakninger med sigaretter</a>.</p>

<p>I andre saker er flere eller alle partier enige om et mål, men ikke om hvordan eller hvor raskt man skal komme dit. I denne type saker stemmer partiene ofte mot andre partiers forslag, og for forslag de mener er bedre. I stedet for å vise frem posisjonene som «for» eller «mot» oppsummerer vi i slike saker de ulike partienes stemmegivning i korte tekster. Oppsummeringen er utelukkende basert på stemmegivningen i relevante saker som har vært til behandling på Stortinget. Eksempler på slike saker er å <a href="http://www.holderdeord.no/issues/161-investere-mer-i-jernbaneutbygging">investere mer i jernbaneutbygging</a>, eller <a href="http://www.holderdeord.no/issues/65-videreutdanne-flere-laerere">videreutdanne flere lærere</a>.</p>

<p>Denne inndelingen i to typer saker bygger på et etablert skille i statsvitenskap mellom valenssaker og posisjonssaker. I valenssaker er målet et gode som ønskes av alle, som gjør at den politiske debatten domineres av konflikter om prioritering. Posisjonssaker kjennetegnes på sin side av en konflikt mellom to motstridende standpunkter, og hvor debatten handler om å enten være for eller mot.</p>
<h2 id='valglfter-fra-partiprogrammene'>Valgløfter fra partiprogrammene</h2>

<p>I partiprogrammene presenterer partiene hvordan de vil bruke makten dersom de får støtte fra velgerne, som danner grunnlaget for valgkampen. Det ligger derfor et vesentlig element av forpliktelse fra partiene til å oppfylle de politiske løftene de gir før valget. I vår database har vi samlet og kategorisert partiprogram og regjeringserklæringer fra alle stortingspartiene. Vi har definert løfter som «politiske lovnader som staker ut en politisk kurs eller foreslår et konkret handlingsmål».</p>

<p>For å se om partiene holder det de lover i partiprogrammene knytter vi stemmegivning opp mot relevante valgløfter fra partienes valgprogrammer. Løfter som ikke er spesifikke nok til kunne vurderes, men som likevel sier noe om partiets politikk i saken, tas med som relaterte løfter.</p>

<p>I posisjonssaker, hvor det er en klar uenighet mellom partiene, utleder vi direkte fra avstemningene om partienes løfter er holdt, delvis holdt eller ikke holdt. Dersom et parti har stemt for en sak, for eksempel å avskaffe monarkiet, og har et løfte om dette i sitt program, er løftet holdt. Hvis partiet har stemt både for og mot, er løftet delvis holdt, og dersom partiet har stemt mot, er løftet ikke holdt.</p>

<p>I saker hvor partienes stemmegivning oppsummeres i ulike posisjoner, er det oppsummeringen som avgjør om partiet har holdt, delvis holdt eller ikke holdt ord. I slike saker kan altså et parti stemme mot flere avstemninger, men likevel ha holdt et løfte, dersom de har stemt for egne alternative forslag. Et løfte er delvis holdt dersom kun deler av løftet er innfridd, eller om partiet gjentatte ganger har stemt motforslag som er identiske med partiets egne forslag. Dersom partiet har endret stemmegivning underveis i perioden, vektlegger vi de siste avstemningene.</p>

<p>Det kan finnes mange grunner til at et parti ikke stemmer i tråd med partiprogrammet. Dette er viktig for holderdeord.no å få frem. Partiene har derfor mulighet til å forklare og utdype hvorfor de har stemt som de har gjort i de ulike sakene.</p>
<h2 id='spesialbehandling-av-tre-typer-avstemninger'>Spesialbehandling av tre typer avstemninger</h2>

<p>Vi behandler tre typer avstemninger spesielt  for å ta høyde for noen særegenheter i måten stemmegivningen skjer på Stortinget.</p>
<h3 id='stortingsmeldinger'>Stortingsmeldinger</h3>

<p>Stortingsmeldinger brukes når regjeringen vil presentere saker for Stortinget uten at de er knyttet til forslag til vedtak. Vi omtaler stortingsmeldinger der de er relevante, men meldingene har ikke betydning når stemmegivning oppsummeres ettersom Stortinget kun tar innholdet i en melding til etterretning (forslag vedlegges protokollen). Unntaket er konkrete forslag som kommer i forbindelse med behandlingen av en stortingsmelding, som behandles på vanlig måte.</p>
<h3 id='forslag-vedlegges-protokollen'>Forslag vedlegges protokollen</h3>

<p>Det hender ofte at opposisjonspartiene fremmer forslag om noe som  regjeringen allerede arbeider med. I disse tilfellene vil regjeringspartiene – vanligvis komitéflertallet – ofte foreslå at representantforslaget skal vedlegges protokollen. Dette betyr som regel at man er positiv til innholdet, men uten at man ønsker å gå så langt å vedta selve forslaget. Representanter fra regjeringspartiene stemmer ofte for å «vedlegge protokollen» dersom en liknende sak er under behandling i regjeringen, eller vil dekkes i en kommende stortingsmelding, et lovforslag eller lignende. I oppsummeringen av partienes stemmegivning vektes derfor en stemme for å «vedlegge protokollen» halvparten (50 %) av øvrige avstemninger.</p>
<h3 id='alternative-statsbudsjett'>Alternative statsbudsjett</h3>

<p>Opposisjonens alternative budsjettforslag er særegne i stortingsprosedyren. Samtidig som finansinnstillingen presenteres av Finansministeren i Stortinget, legger opposisjonspartiene frem sine forslag til rammevedtak – etter samme struktur som regjeringens rammevedtak. De alternative budsjettforslagene er viktige indikatorer på hvordan opposisjonspartiene ønsker å styre økonomien, og brukes flittig i debatter og ordskifter. I budsjettforslagene er det mulig for partiene å gjennomføre større omskiftninger i postene og beløpene enn det som ville vært mulig hadde de sittet i regjering. Siden det er praksis at partiet som fremmer det alternative budsjettforslaget er det eneste som stemmer for det, tas det kun med i utregningen for dette partiet.</p>
<h1 id='sprsml'>Spørsmål?</h1>

<p>Noe du lurer på? Sjekk ut <a href="http://www.holderdeord.no/home/faq">ofte stilte spørsmål</a> eller <a href="http://www.holderdeord.no/home/contact">kontakt oss</a>!</p>
