<div class="page-header">
  <h1>About Holder de ord</h1>
  <%= link_to 'På norsk', home_about_path %>
</div>

<div class="row-fluid">
  <div class="span8">
    <section>
      <h2>The core of what we do</h2>
      <p>
        <a href="http://beta.holderdeord.no">beta.holderdeord.no</a> is a prototype. We are building our site during the summer 2012, and will focus on creating a good front-end user interface which visualises what actually goes on in politics in an easy and straightforward way.
      </p>
      <p>
        We want to make it easy to find out how a party or a member of parliament has voted, and provide an overall picture of their views and voting patterns within a defined theme, such as the "war in Afghanistan" or “transport infrastructure.” In this way citizens will be able to view large swaths of statistical information in an easy way on issues they hold dear. In addition we code electoral promises and compare these against voting patterns of both parties and individual politicians, making it easy for citizens to hold politicians accountable.
      </p>
    </section>

    <br>

    <section>
      <h2>Background</h2>
      <p>
        The parliament is at the core of our political system. All that our elected officials say and vote on various issues is public information. However, to this day it is still not possible to find out on the net how members of parliament vote on specific issues.
        Democracy is not just about elections every four years. <a href="http://en.wikipedia.org/wiki/John_Keane_(political_theorist)">John Keane</a> believes the world is moving towards a new and more advanced form of democracy, monitory democracy, which is characterised by broad, interdependent networks of political power and control of that same power. We are convinced that monitory democracy put into action allows for more informed and improved political decision-making while also making accountability easy to practice.
      </p>
      <p>
        Holder de ord was established late 2010 with the aim to make it easy to follow what politicians say and do. Holder de ord is a strictly non-partisan organisation run by a dedicated crew and many volunteers.
      </p>
    </section>

    <br>

    <section>
      <h2>Get in touch</h2>
      <p>
        For more information on what we do and why we do it, please contact <a href="mailto:<%= obscure_email 'tiina@holderdeord.no' %>">Tiina Ruohonen</a>.
      </p>
    </section>
  </div>
</div>
