<div class="page-header">
  <h1>Om Holder de ord</h1>
  <%= link_to 'English', home_about_path(:lang => 'en'), class: 'pull-right' %>
</div>

<div class="row-fluid">
  <div class="span10">

    <section>
      <h2>Hva vi gjør</h2>
      <p>
        <a href="/">Holder de ord</a> er en partipolitisk uavhengig organisasjon som ble grunnlagt på slutten av 2010 med et ønske om å gjøre det lettere å følge med på hva som skjer i norsk politikk. På denne nettsiden vil du finne data om hvordan partier og stortingsrepresentanter stemmer i konkrete politiske saker og kunne sjekke dette opp mot partiprogram og andre politiske løfter.
      </p>

      <p>
        I det kommende valget vil Holder de ord være et viktig verktøy som gir deg fakta om norsk politikk, først og fremst for deg som skal stemme, men også for politikere og redaksjoner.
      </p>
    </section>

    <section>
      <h2>Bakgrunn</h2>
      <p>
        Demokrati handler ikke lenger bare om valg hvert fjerde år. Den australske statsviteren <a href="http://en.wikipedia.org/wiki/John_Keane_(political_theorist)">John Keane</a> mener verden utvikler seg i retning av en ny og mer avansert form for folkestyre, såkalt undersøkende eller kontrollerende demokrati (<em>monitory democracy</em>), som i tillegg til valg kjennetegnes av et mye bredere og omfattende nettverk av folkelig oppmerksomhet og kontroll med makthavere.
      </p>

      <p>
Vi er overbeviste om at borgere som engasjerer seg gjennom ulike nettverk og kanaler gjør at de folkevalgte tar bedre og mer velinformerte beslutninger på vegne av oss. En viktig forutsetning er imidlertid at det er lett for alle å følge med på hva som skjer i politikkens hjerte. Dette er også årsaken til at liknende initiativ er på plass eller under utvikling i flere land, inkludert <a href="http://www.opencongress.org">USA</a>, <a href="http://www.theyworkforyou.com">Storbritannia</a>, <a href="http://www.nosdeputes.fr">Frankrike</a>, <a href="https://sejmometr.pl">Polen</a> og <a href="http://www.kansanmuisti.fi">Finland</a>.
      </p>
    </section>
    
    <section>
      <h2>Samarbeid</h2>
      <p>
I 2011 inngikk Holder de ord et samarbeid med <a href="http://nuug.no/">NUUG</a> (Norwegian Unix User Group). Nettsiden vår, basert på åpne standarder og fri programvareutvikling, er et direkte resultat av dette samarbeidet.
      </p>

      <p>
I 2012 vant Holder de ord den gjeve <a href="http://reklameforalvor.no/">Reklame for Alvor</a>-konkurransen i regi av bransjeorganisasjonen <a href="http://www.kreativtforum.no/">Kreativt Forum</a>, der vinnerorganisasjonen får en gratis reklamekampanje verdt flere millioner kroner. Holder de ords reklamekampanje vil gå på luften våren 2013.
      </p>
    </section>
  </div>
</div>