<% page_title "Kontakt - #{t('app.about')} - #{t('app.title')}" %>
<div class="page-header">
  <h1>Har du lyst til å komme i kontakt med oss?</h1>
</div>

<div class="row-fluid">
  <div class="span2"><%= image_tag 'hdo/tiina.jpg', class: 'home-photo' %></div>
  <div class="span4">
    <h2>Tiina Ruohonen <br><small>kommunikasjons- og pressesjef</small></h2>
    <dl>
      <dt>Epost</dt>
      <dd><a href="mailto:<%= obscure_email 'tiina@holderdeord.no' %>"><%= obscure_email 'tiina@holderdeord.no' %></a></dd>
      <dt>Telefon</dt>
      <dd><a href="tel:+4790983161"></a>+47 90983161</dd>
    </dl>
  </div>
</div>

<hr class="soften">

<h3>Post- og besøksadresse</h3>
<dl>
  <dt>Holder de ord</dt>
  <dd>c/o <a href="http://www.meshnorway.com/">Mesh</a></dd>
  <dd>Tordenskioldsgate 3</dd>
  <dd>0160 Oslo</dd>
  <dd>Norge</dd>
</dl>

<p class="muted">Foto: Alex Asensi/Holder de ord</p>



