<h2>Samarbeidspartnere</h2>

<p>I 2011 inngikk Holder de ord et samarbeid med NUUG (Norwegian Unix User Group). Nettsiden vår, basert på åpne standarder og fri programvareutvikling, er et direkte resultat av dette samarbeidet.</p>
<img alt="NUUG Foundation Logo" src="/missing.png">

<p>I 2012 vant Holder de ord Reklame for Alvor-konkurransen i regi av bransjeorganisasjonen Kreativt Forum, der vinnerorganisasjonen får en gratis reklamekampanje verdt flere millioner kroner. Holder de ords reklamekampanje vil gå på luften våren 2013. Reklamekampanjen lages av Saatchi og Saatchi.</p>
<img alt="Reklame for Alvor Logo" src="/missing.png">
<img alt="Kreativt Forum Logo" src="/missing.png">
<img alt="Saatchi Logo" src="/missing.png">

<hr class="soften">

<h2>Sponsorer</h2>

<div class="row-fluid">
  <div class="span4">
    <img alt="NUUG Foundation Logo" src="/missing.png">
    <h4>NUUG Foundation</h4>
  </div>

  <div class="span4">
    <img alt="Fritt Ord Logo" src="/missing.png">
    <h4>Fritt Ord</h4>
  </div>

  <div class="span4">
    <img alt="Opera Software Logo" src="/missing.png">
    <h4>Opera Software</h4>
  </div>
</div>

<ul>
  <li>I mars 2013 fikk Holder de ord 10.000 kroner fra Opera Software ASA.</li>
  <li>I februar 2013 fikk Holder de ord 30.000 kroner fra Christen Sveaas.</li>
  <li>I februar 2013 fikk Holder de ord 35.000 kroner fra NUUG Foundation.</li>
  <li>I februar 2013 fikk Holder de ord 100.000 kroner fra Fritt Ord.</li>
  <li>I oktober 2012 fikk Holder de ord 65.000 kroner fra NUUG Foundation.</li>
  <li>I juli 2012 fikk Holder de ord 20.000 kroner fra NUUG Foundation.</li>
</ul>
