<div class="page-header">
  <h1>Se hva som kommer</h1>
</div>

<div class="row-fluid">
  <div class="span8">

    <section>
      <p>
        <%= link_to 'holderdeord.no', root_path %> er fremdeles en betaversjon og under kontinuerlig utvikling. Dette er noe av det vi jobber med for tiden:
      </p>

      <p><strong>Forenkling og visualisering.</strong> Vi ønsker å gjøre det enkelt å finne fram til hva politikerne har lovet og stemt. Den grunnleggende funksjonaliteten er nå på plass, men vi jobber nå mye med å forbedre den totale brukeropplevelsen.</p>
      <p><strong>Holder de ord?</strong> Foreløpig viser nettsiden frem partienes løfter og hvordan de har stemt på Stortinget. Vi jobber med å koble løftene direkte til stemmegivningen, slik at du kan se hvem som er best til å holde ord.</p>
      <p><strong>Still spørsmål og få svar.</strong> Vi jobber med å utvikle en tjeneste hvor det blir enkelt å stille spørsmål til partier og representanter.  Gi din politiker anledning til å forklare hvorfor de har stemt som de har gjort.</p>
      <p><strong>Flere politiske saker.</strong> Foreløpig kan du sjekke hva politikerne har stemt og lovet i et begrenset antall politiske saker, og kun fra 2011 og fram til i dag. Vi legger til nye saker kontinuerlig og jobber med å få lagt inn stemmedata tilbake til 2009. Har du tips til en sak vi bør lage? Send inn her!</p>
      <p><strong>Forbedret søkefunksjon.</strong> Søkemotoren skal bli flinkere til å vise frem de resultatene du faktisk er på jakt etter.</p>
    </section>

  </div>
</div>
