<div class="row-fluid">
  <div class="span12">
    <div class="row-fluid">
      <div class="row-fluid">
        <div class="row-fluid">
          <div class="page-header">
            <h2>Sjekk hva partiene har stemt og lovet</h2>
          </div>
        </div>
        <div class="home-party-list">
          <% @parties.each do |party| %>
            <%= link_to party do %>
            <div class="home-party-logo">
              <%= image_tag party.image_with_fallback.thumb("250x250").url, alt: party.name %>
            </div>
            <% end %>
          <% end %>
        </div>
      </div>

      <hr class="soften">

      <div class="page-header">
        <h2>Hvilke saker er viktige for deg?</h2>
      </div>

      <div class="row-fluid">
        <% @topic_columns.each do |topics| %>
            <div class="span4">
              <% topics.each do |topic| %>
                <h3><%= link_to topic.name, topic %></h3>
              <% end %>
            </div>
        <% end %>
      </div>
    </div>
  </div>
</div>
