<div class="hero-unit">
  <h1><%=t 'app.title' %></h1>
  <p><%=t 'app.description' %></p>
  <p>Denne nettsiden er en prototype. Vi jobber med å utvikle en ny versjon som gjør det enklere å forstå hva som skjer i politikken. Følg oss på <a href="http://twitter.com/holderdeord/">Twitter</a> og <a href="http://www.facebook.com/holderdeord">Facebook</a> for oppdateringer!</p>

  <p><%= link_to t('app.read_more'), home_about_path, class: 'btn btn-primary btn-large' %></p>
</div>