<div class="container-fluid">
  <div class="page-header">
    <h1>Ønsker du å engasjere deg?</h1>
  </div>

  <div class="row-fluid">
    <div class="span9">
      <p>
        Vi er hele tiden på utkikk etter flere drevne medarbeidere. Våre medarbeidere har blant annet spisskompetanse innenfor programmering, informasjonsdesign, statistikk, politisk analyse.
      </p>

      <p>
        Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a> hvis du er interessert.
      </p>
    </div>
  </div>

  <br><br>

  <div class="row-fluid well">
    <div class="span9">
      <h1>Aktuell utlysning</h1>
      <hr class="soften">
      <h4>Teamleder teknisk</h4>

       <p>
         Utviklingen av nettsiden bygger på tett samarbeid mellom open source utviklere, designere og teamet som jobber med politisk analyse og metode. Vi søker nå etter en produktsjef til å lede det tekniske teamet og ha det overordnede ansvaret for den tekniske utviklingen av nettstedet. Du vil jobbe tett sammen med sjefsutvikler og driftsarkitekt med planlegging og gjennomføring av arbeid. Du vil også jobbe sammen med resten av teamlederne.
       </p>

      <p>
        Personen vi er på jakt etter har et stort fokus på brukeropplevelse. Ildsjelen vi er på utkikk etter har også erfaring fra prosjektledelse, og brenner for å bygge opp nettstedet til den foretrukne kilden for informasjon om hva som skjer i norsk politikk.
      </p>

      <p>
        Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a> hvis du mener du er vår fremtidige tekniske teamleder.
      </p>
    </div>
  </div>
</div>