<div class="page-header">
	<h1>Vi trenger flere samfunnsegasjerte medlemmer!</h1>
</div>
<div class="span6">
	<section>
	  <p>
  		Holder de ord drives i dag som en partipolitisk uavhengig organisasjon på frivillig basis, og vi er hele tiden på utkikk etter flere medlemmer og medarbeidere! Vi leter etter folk med kompetanse innenfor programmering, informasjonsdesign, statistisk eller politisk analyse og metode, kommunikasjon, og salg. Dersom du eller noen du kjenner har lyst til å bidra og samtidig være med i en sosial gruppe, ta kontakt med oss gjennom å sende en epost til redaksjonen på 
  		<a href="mailto:<%= t('app.email') %>"><%= t('app.email') %></a>.</h2>
      </p>
	</section>
</div>