<div class="container-fluid">
  <div class="page-header">
    <h1>Ønsker du å engasjere deg?</h1>
  </div>

  <div class="row-fluid">
    <div class="span9">
      <p>
        Vi er hele tiden på utkikk etter flere drevne medarbeidere. Våre medarbeidere har blant annet spisskompetanse innenfor programmering, informasjonsdesign, statistikk, politisk analyse, kommunikasjon og salg. Holder de ord er basert på frivillig innsats.
      </p>

      <p>
        Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a> hvis du er interessert.
      </p>
    </div>
  </div>

  <br><br>

  <div class="row-fluid well">
    <div class="span9">
      <h1>Aktuell utlysning</h1>
      <br>

      <h3>Produktsjef</h3>
      <br>
       <p>
          Utviklingen av nettsiden bygger på tett samarbeid mellom open source utviklere, designere og teamet som jobber med politisk analyse og metode. Vi søker nå etter en produktsjef til å lede det tekniske teamet og ha det overordnede ansvaret for den tekniske og designmessige utviklingen av nettstedet. Du vil jobbe tett sammen med sjefsutvikler og driftsarkitekt med planlegging og gjennomføring av arbeid på nettsiden. Du vil også jobbe tett sammen med resten av teamlederne.
       </p>

      <p>
        Personen vi er på jakt etter har et stort fokus på brukeropplevelse, og har erfaring fra arbeid med digitale produkter. Du har også erfaring fra prosjektledelse, og brenner for å bygge opp nettstedet til den foretrukne kilden for informasjon om hva som skjer i norsk politikk.
      </p>

      <p>
        Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a> hvis du mener du er vår fremtidige produktsjef.
      </p>
    </div>
  </div>
</div>