<% page_title "#{t('app.join')}! - #{t('app.title')}" %>

<div class="page-header">
  <h1>Bli med og utvikle Norges nye politiske vaktbikkje!</h1>
</div>

<div class="row-fluid">
  <div class="row-fluid">
    <div class="span8">
      <h4>Synes du det er lite fakta i den politiske debatten? Gjør noe med det!</h4>

      <p>Holder de ord gjør det enkelt å sjekke hva politikerne på Stortinget stemmer og lover i saker du er opptatt av. Vårt mål er å bli den foretrukne kilden for faktabasert informasjon om norsk politikk frem mot Stortingsvalget i 2013.</p>
      <p>Sommeren 2012 vant Holder de ord Reklame for Alvor-konkurransen i regi av Kreativt Forum. Hvert annet år gir en samlet reklame- og mediebransje bort en gratis reklamekampanje til en minimumsverdi av 20 millioner kroner til et samfunnsnyttig formål. Kampanjen som vil bli laget av reklamebyrået Saatchi&Saatchi vil gå på lufta i mai 2013, vil ha stor betydning for Holder de ords mål om å være et knutepunkt i Norge når det gjelder demokratisk deltakelse, digital opplysning, og et mer faktabasert offentlig ordskifte.</p>

      <br>

      <h4>Å være med i Holder de ord</h4>
      <p>Holder de ord bygger på engasjement og drives av mennesker som ønsker å skape noe helt nytt i Norge, ha det sosialt på jobben og hele tiden lære nye ting.</p>
      <p>Våre kontorer ligger sentralt i Oslo sentrum hos gründerfelleskapet <a href="http://meshnorway.com/">Mesh</a>. Her møtes vi hver uke for å jobbe og diskutere utfordringer i fellesskap. Én gang i måneden arrangerer vi hackathon, hvor vi går løs på større utfordringer.</p>
      <p>Vi er hele tiden på utkikk etter flere til å være med på laget. Under finner du noen av de spesifikke rollene vi søker folk til. Holder de ord er foreløpig basert på frivillig innsats. Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a> hvis du er interessert, eller ta kontakt med daglig leder Daniel Rees på 99452400.</p>
    </div>

    <hr class="visible-phone soften">

    <div class="span4">
      <div><%= image_tag 'hdo/hackaton.jpg' %></div>
    </div>
  </div>

  <hr class="soften">

  <div class="row-fluid">
    <div class="span4">
      <h3>Produktsjef</h3>
      <p>Holder de ord har allerede en nettside på plass med mye sentral funksjonalitet. Men lager vi en side som folk vil ha? Hvilke tjenester og funksjoner vil brukerne av Norges nye politiske vaktbikkje forvente?</p>
      <p>Som produktsjef vil ditt ansvar være å utvikle holderdeord.no, prioritere mellom forskjellige ideer, planlegge fremdrift, og sørge for at vi bruker tiden på å lage de virkelig kule tingene. Du vil jobbe tett sammen med dyktige utviklere, designere og politiske analytikere for å maksimere brukeropplevelsen på siden.</p>
      <p>Vår nye produktsjef har brukeren i fokus, og har erfaring fra arbeid med digitale produkter og prosjektledelse.</p>
    </div>

    <div class="span4">
      <h3>Forretningsutvikler</h3>
      <p>Vil du være med å bygge en konkurransedyktig organisasjon med solide inntekter? Da vil vi gjerne snakke med deg!</p>
      <p>Holder de ord er en medlemsorganisasjon med et samfunnsnyttig formål. Vår ekspertise er å fremstille og forklare politiske data enkelt, raskt og presist. Vi bruker åpne data som alle kan laste ned, men som krever god forståelse for å sette sammen. Denne kunnskapen tror vi vil være interessant for aktører innen media, næringsliv og organisasjonsliv.</p>
      <p>Som forretningsutvikler vil du jobbe med å bygge opp organisasjonen Holder de ord til å bli en tjenesteleverandør. Vi ser for oss at du har erfaring med forretningsutvikling og salg, gjerne fra den frivillige sektoren.</p>
    </div>

    <div class="span4">
      <h3>Innsamlingsansvarlig</h3>
      <p>Elsker du høyt tempo og kampanjearbeid for en god sak? Da vil vi gjerne snakke med deg!</p>
      <p>Holder de ord leter etter en erfaren innsamlingsansvarlig som kan lede våre innsamlingsaksjoner. Ditt viktigste ansvar vil være å utforme og lede innsamlingsaksjoner, følge opp eksisterende givere, samt utvikle nye donorrelasjoner. Du vil selv kunne sette sammen ditt eget team. Den ideelle kandidaten er initiativrik, har høy arbeidskapasitet og integritet, og innehar et solid nettverk.</p>
      <p>Vi ser helst at du utvikler en vinnende aksjon allerede for julen 2012!</p>
    </div>
  </div>

  <div class="row-fluid">
    <div class="span4">
      <h3>Tekstforfatter</h3>
      <p>Er du en kreativ formidler og opptatt av den gode historien? Da vil vi gjerne ha deg med på laget!</p>
      <p>Holder de ord er på utkikk etter en tekstforfatter som kan hjelpe vår innsamlings- og kommunikasjonsavdeling med å formidle budskap, samt bistå redaksjonen slik at vår innholdsproduksjon til en hver tid er i samsvar med vår redaksjonelle profil. Du er flink til å skrive, har solid språkforståelse, og skjønner hvordan en ideell organisasjon effektivt kan formidle budskap i flere kanaler.</p>
      <p>Du kan godt være nyutdannet, men det er fordel med erfaring eller interesse fra politiske eller ideelle organisasjoner.</p>
    </div>

    <div class="span4">
      <h3>Politiske analytikere</h3>
      <p>Synes du det er for lite fakta og nyanser i den politiske debatten? Vi trenger folk til å sjekke hva politikerne faktisk sier og stemmer!</p>
      <p>Til analyseteamet trenger vi flere dyktige analytikere som kan lage og analysere politiske saker på holderdeord.no. Arbeidet innebærer blant annet å finne frem relevante avstemninger og løfter om en sak, og presentere disse på en enkel måte.</p>
      <p>Vi søker folk som er initiativrike og har lyst til å være med å bygge opp noe helt nytt i Norge. Kunnskap om politikk og interesse for formidling er en absolutt fordel. Masterstudenter oppfordres spesielt til å søke.</p>
    </div>
  </div>
</div>

<br><br>
