<div class="row-fluid">
  <div class="page-header">
    <h1>Medlemskap <small class="pull-right">Jo flere som bryr seg om politikk, jo bedre blir de politiske beslutningene.</small><br><br></h1>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <p>Ved å sende kodeord <strong>HDOMEDLEM</strong> til <strong>2160</strong> blir du medlem. Medlemskapet koster i dag 60 kr og vil bli belastet ditt mobilabonnement.</p>

      <p>Om ditt mobilabonnement ikke tillater betaling via SMS eller du ønsker alternativ betalingsmåte, vennligst ta kontakt på <a href="mailto:<%= obscure_email t('app.email') %>">epost</a>.</p>

      <p>Medlemskap gir deg anledning til å være med å støtte en god sak og markere deg som tilhenger av åpne offentlige data.</p>

      <p>Medlemskap i Holder de ord er åpent for alle som støtter organisasjonens formål, og er gyldig et kalenderår om gangen.</p>

      <p>Har du andre spørsmål? Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a>!</p>
    </div>

    <div class="span6">

      <h4>Ditt medlemskap gir oss mulighet til å:</h4>
      <ul>
        <li>Engasjere enda flere.</li>
        <li>Fremme politisk deltakelse og kunnskap.</li>
        <li>Øke interessen for en saksorientert politisk debatt.</li>
        <li>Støtte tiltak for mer åpne offentlige data.</li>
        <li>Gjennomføre kampanjer for å øke interessen og oppmerksomheten rundt politikk.</li>
      </ul>
    </div>
  </div>

</div>
