<div class="row-fluid">
  <div class="span10">
    <section>
      <h2>Menneskene bak</h2>

      <p>
        <a href="mailto:<%= obscure_email 'daniel@holderdeord.no' %>"><strong>Daniel Rees</strong></a> er en av grunnleggerne av Holder de ord, og leder i dag organisasjonen. Han har en mastergrad i statsvitenskap fra NTNU i Trondheim, og jobber til daglig som prosjektleder i TNS Gallup med opinionsundersøkelser og kommunikasjonsanalyse knyttet til klima- og energispørsmål. Daniel har bred erfaring som frilansjournalist, fra NRK Her & Nå, og har tidligere jobbet med å utvikle nettsteder for FNs informasjonskontor for Norden og landsdekkende organisasjoner i Norge.
      </p>

      <p>
        <a href="mailto:<%= obscure_email 'tiina@holderdeord.no' %>"><strong>Tiina Ruohonen</strong></a> er en av grunnleggerne av Holder de ord. I dag sitter hun i Holder de ords styre, og har det overordnede ansvaret for kommunikasjon, samfunnskontakt og medierelasjoner. Hun er en selverklært kosmopolitt med fartstid fra flere land, og med en mastergrad i bærekraftig utvikling og etikk. Tiina jobbet i flere år som prosjektleder innenfor klimaområdet, og driver i dag sitt eget konsulentselskap innenfor klima og miljø, etikk, samfunnsansvar, og demokratisk medvirkning.
      </p>

      <p>
        <strong>Ingrid Oline Skeide Ødegaard</strong> leder arbeidet med utformingen av Holder de ords hjemmesider. Til daglig jobber Ingrid som produktsjef i Telenor Comoyo som utvikler internettprodukter innen kommunikasjon og underholdning. Hun har tidligere arbeidet i Afternposten med strategi og forretningsutvikling, og ledet utviklingen av Aftenpostens iPad-applikasjon. Ingrid er utdannet samfunnsøkonom fra NTNU, og har studert entreprenørskap og jobbet i et oppstartselskap i Boston i USA.
      </p>

      <p>
        <strong>Kristofer Rees</strong> jobber med metode, faglig innhold og kategorisering av politiske løfter for Holder De Ord. Kristofer har tidligere studert musikk ved NTNU i Trondheim og Det Kgl. Danske Musikkonservatorium i København, og studerer nå statsvitenskap ved Universitetet i Oslo.
      </p>

      <p>
        <strong>Guro Øistensen</strong> jobber med metode og det faglige innholdet i Holder de ord. Til daglig er hun Communications Manager i IT-bedriften Logica, hvor hun jobber med internett, intranett, PR og intern kommunikasjon. Guro er utdannet sosiolog fra Universitetet i Oslo.
      </p>

      <p>
        <strong>Linn Skorge</strong> jobber med nettverksbygging og salg i Holder de ord. Linn tar for øyeblikket en mastergrad i politisk økonomi på Handelshøyskolen BI. Fra tidligere har hun en bachelorgrad i internasjonal markedsføring, også fra Handelshøyskolen BI.
      </p>

      <p>
        <strong>Linn Katrine Erstad</strong> jobber med kommunikasjon og markedsføring i Holder de ord. Linn Katrine har mastergrad i retorikk fra Københavns Universitet, og jobber nå som prosjektleder for markedsaktiviteter i IT-bedriften Logica. Hun har lang erfaring fra frivillige studentorganisasjoner.
      </p>

      <p>
        <strong>Salve J. Nilsen</strong> (NUUG) og har studert informatikk ved Universitetet i Oslo og ved NTNU i Trondheim, og har jobbet med systemutvikling og drift av nett-tjenester i snart 15 år. Han har også vært aktiv i fagmiljøer rundt programmeringsspråket Perl og bidratt med å arrangere mange treff og konferanser. Han er tilhenger av fri programvare og open source-filosofien innen programvareutviklingen.
      </p>

      <p>
        <strong>Eva Cecilie Jørgensen</strong> tar en mastergrad i politisk økonomi ved Handelshøyskolen BI og skriver sin masteroppgave om lobbyvirksomhet i EU. Hun har to bachelorgrader: en i Europastudier fra Universitetet i Oslo, og en i økonomi og administrasjon fra Høyskolen i Oslo. I Holder de ord jobber hun med nettverksbygging og finansiering.
      </p>

      <p>
        <a href="http://twitter.com/jarib"><strong>Jari Bakken</strong></a> arbeider med utvikling i Holder de ord. Han jobber til daglig hos FINN.no, hovedsakelig med interne verktøy og testautomasjon. Jari programmerer for det meste i Ruby og JavaScript, og står bak mange populære open source-prosjekt med flere millioner nedlastinger. Han er selvlært som utvikler, og har en bachelor i utøvende jazzgitar fra Norges Musikkhøgskole.
      </p>

      <p>
        <strong>Petter Reinholdtsen</strong> (NUUG) er utdannet ved Universitetet i Tromsø, og har lekt med internett og Unix siden 1992. Utvikling og drift på Unix har vært hovedinteressen siden den gang. Han er en aktiv forkjemper for fri programvare og åpne standarder, og er medforfatter i en rekke prosjekter, blant annet Skolelinux, FiksGataMi og Debian. Han er leder av NUUG og jobber for tiden ved Universitetet i Oslo med utvikling av driftstjenester.
      </p>

      <p>
      <strong>Morten Kjelkenes</strong> (NUUG) er teknisk ansvarlig og arkitekt. Morten jobber til daglig med prosjektledelse av både telecom- og IT-prosjekter, og har god teknisk erfaring innen konsolidering og virtualisering av tjenester for store kunder. Han har lang erfaring med kompliserte og heterogene miljøer og tjenester, samt fra oppbygging av testmiljøer for disse.
      </p>
    </section>
  </div>  
</div>
