<% page_title 'Våre tjenester - Holder de ord' %>


<div class="span9 offset1">
  <h1>Våre tjenester</h1>

  <p><strong>Holder de ord kan hjelpe deg og din organisasjon til å lettere følge med på hva som skjer på Stortinget i saker du er opptatt av. Vi har kompetanse på analyse av stortingspolitikk, oppbygging og søk i databaser, politisk kommunikasjon og brukervennlig design.</strong></p>

  <p><strong>Vår database inkluderer:</strong></p>

  <ul>
  <li>Alle avstemninger på Stortinget 2009-2013 på representant- og partinivå</li>
  <li>Alle valgløfter fra partiprogram og regjeringserklæring 2009-13</li>
  <li>Alle valgløfter fra partiprogram 2013-17 (lastes opp fortløpende etter landsmøter våren 2013)</li>
  <li>Egenproduserte analyser av stortingspolitikk. Vi tar utgangspunkt i konflikter og saker som vi kjenner de fra samfunnsdebatten, og kobler alle relevante avstemninger og valgløfter sammen.</li>
  </ul>

  <h2>Abonnement på politisk innhold til din nettside</h2>

  <p>Holder de ord tilbyr widgets eller dynamiske faktabokser som enkelt og sømløst ingegrerer innhold fra Holder de ord på din nettside. Ved å vise frem det sist oppdaterte innholdet fra Stortinget innenfor deres interessefelt, vil dere kunne gi leserne en betydelig verdiøkning.</p>

  <p><strong>Eksempel på innhold i en widget:</strong></p>

  <ul>
  <li>Partienes løfter for neste periode i en sak. For eksempel hva partiene lover om arbeidsliv.</li>
  <li>Hva partiene har stemt om en sak på Stortinget de siste fire årene. For eksempel om jernbaneinvesteringer.</li>
  <li>Innhenting av informasjon om navngitte representanter eller partier hver gang disse nevnes.</li>
  </ul>

  <p>Vi kan tilby en abonnementsløsning på widgets som inkluderer utvikling og design tilpasset ditt nettsted, drift, vedlikehold, og om ønskelig løpende klargjøring av widgets på etterspørsel.</p>

  <h2>Analyse av stortingspolitikk</h2>

  <p>Ønsker dere innsikt om hva partiene har stemt i viktige saker? Ønsker dere en enkel oversikt over hva partiene lover innenfor deres arbeidsområder? Holder de ord hjelper deg med å komme gjennom store mengder av data, og tilbyr ferdige analyser av stemmegivning og løfter sammen med tilpasset grafikk.</p>

  <h2>Nyhetsbrev</h2>

  <p>Det skjer mye på Stortinget fra uke til uke, og det kan være vanskelig å holde oversikt. Etter valget vil Holder de ord tilby en nyhetsbrevtjeneste som gir deg og din virksomhet ukentlig oppdatering på hva som har skjedd på Stortinget den siste uken. Vi følger med hva som sies og stemmes på saksområdene dere er opptatt av, slik at dere kan fokusere på kjernevirksomheten.</p>

  <h2>Datatjeneste</h2>

  <p>Holder de ords database er åpent tilgjengelig og kan fritt i henhold til våre lisensvilkår. Vi jobber med å utvikle et maskinelt grensesnitt (API) som vil forenkle tilgang til oppdaterte data. APIet vil ha en begrensning på bruk, slik at de som bruker databasen mye, vil måtte betale til drift av dette. Vi kan også fravike fra standard lisensvilkår etter nærmere avtale.</p>

  <h2>Noen av våre kunder</h2>

  <ul>
  <li>Abelia</li>
  <li>Tekna</li>
  <li>NRK</li>
  </ul>

  <h2>Kontakt</h2>

  <p>Interessert i mer informasjon? <a href="/home/contact">Ta kontakt</a>!</p>
</div>