<% page_title "Vedtekter - #{t 'app.title'}" %>

<h1>
Vedtekter
</h1>

<h3>§1: Navn</h3>

<p>Organisasjonen skal være kjent som Holder de ord, registrert i Brønnøysund under organisasjonsnummer 996300528, og organisasjonens nettside skal være www.holderdeord.no.</p>

<h3>§2: Formål</h3>

<p>Holder de ord er en politisk uavhengig organisasjon hvis formål skal være å kartlegge norske politiske partiers løfter og sammenligne disse med partienes stemmegivning og aktivitet på Stortinget og i andre folkevalgte organ. Organisasjonen har videre som formål å styrke den demokratiske debatten og deltakelsen i Norge.</p>

<h3>§3: Medlemmer</h3>

<p>
Medlemskap i Holder de ord er åpent for alle som støtter organisasjonens formål.  Alle medlemmer har stemmerett og er valgbare til tillitsverv i organisasjonen.
</p>

<p>
Holder de ord skal hovedsakelig driftes på frivillig basis, og alle brukerne av nettsiden skal oppfordres, og gis mulighet til, å bidra til sidens utvikling og innhold.
</p>

<p>
Det skal betales en årlig kontingent for å være medlem av organisasjonen. Kontingentbeløp fastsettes av styret på begynnelsen av hvert kalenderår.
</p>

<h3>§4: Årsmøte</h3>

<p>Årsmøtet er organisasjonens høyeste myndighet, og holdes ordinært hvert år i april måned. Innkalling til årsmøte og sakspapirer skal sendes ut skriftlig henholdsvis 30 dager og 10 dager før årsmøtet holdes.
</p>

<p>På årsmøtet skal det velges en ordstyrer og en referent ved flertall. To protokollvitner skal velges for å godkjenne referatet.
</p>

<p>
Årsmøtets oppgave skal være:

<ul>
  <li>Behandle årsmelding</li>
  <li>Behandle revidert regnskap</li>
  <li>Velge styre og styreleder</li>
  <li>Velge revisor </li>
  </ul>
</p>

<p>
Årsmøtet er vedtaksført med det antall stemmer som møter. Ingen har mer enn en stemme, og stemmegivning kan ikke skje ved fullmakt. Med mindre annet er bestemt skal et vedtak for å være gyldig være truffet med alminnelig flertall av de avgitte stemmene. Blanke stemmer skal anses som ikke avgitt.
</p>

<h3>§5: Styret</h3>

<p>
Styret har ansvar for å sikre daglig drift, og skal bestå av minimum fem medlemmer ved tiltredelse. Styrets funksjonstid er ett år. Styret velges årlig på årsmøtet med enkelt flertall blant stemmeberettigede medlemmer. Med unntak av styreleder som velges direkte på årsmøtet, har styret har mandat til å konstituere seg selv.
</p>

<p>
Styreleder har det redaksjonelle ansvaret for nettsiden, og kan ikke være en person som innehar partipolitiske verv i andre organisasjoner. Det skal tilstrebes at styrets medlemmer innehar erfaring med politisk arbeid og/eller organisasjonsarbeid, samt erfaring med økonomisk styring.
</p>

<p>
Styremøter skal holdes minst fire ganger per år. Beslutninger i styret tas ved flertallsavstemning. Styret skal anses som beslutningsdyktig ved mer enn 50% oppmøte. Ved stemmelikhet har styreleder dobbeltstemme.
</p>

<p>
Det skal være styrets ansvar å:

  <ul>
    <li>Iverksette årsmøtets vedtak</li>
    <li>Administrere og føre nødvendig kontroll med organisasjonens økonomi</li>
    <li>Ansettelser</li>
    <li>Utarbeide og gjennomføre organisasjonens strategiske utvikling</li>
    <li>Sikre at nettstedet utvikles i tråd med organisasjonens formålsparagraf </li>
    <li>Kalle inn til ordinært årsmøte </li>
    <li>Foreslå valgkomité og revisor til årsmøtet</li>
  </ul>
</p>

<h3>§6: Valgkomité</h3>

<p>Styret skal oppnevne en valgkomité bestående av tre medlemmer senest tre måneder før årsmøte. Ingen av medlemmene kan selv stille til valg til neste års styre.
</p>

<p>Valgkomitéens oppgave skal være å innstille kandidater til styret, herunder styreleder. Komitéens innstilling skal leveres til styret senest to uker før årsmøtet.
</p>

<h3>§7: Ekstraordinært årsmøte</h3>

<p>Dersom mer enn 25 % av medlemmene ber om det, skal styret kalle inn til ekstraordinært årsmøte. Styret har selvstendig anledning til å kalle inn til ekstraordinært årsmøte. Det skal også avholdes ekstraordinært årsmøte dersom flere enn 1/3 av styret trekker seg i løpet av perioden.
</p>

<h3>§8: Endring av vedtekter</h3>

<p>Det er årsmøtets oppgave å endre vedtektene slik at organisasjonen formål best ivaretas. Vedtekter kan endres med 2/3 flertall.
</p>

<h3>§9: Oppløsning </h3>

<p>Holder de ord kan bare oppløses på årsmøte, ordinær eller ekstraordinær, ved 2/3 flertall. Organisasjonens eiendeler skal da doneres til en organisasjon med lignende formål.
</p>

<p><em>Sist endret på årsmøte 25. mars 2014.</em></p>
