<div class="row-fluid">
  <div class="page-header">
    <h1>Vi trenger <u>din</u> hjelp! <small class="pull-right">Jo flere som bryr seg om politikk, jo bedre blir de politiske beslutningene.</small></h1>
  </div>

  <div class="row-fluid">
    <div class="span6">
      <h3>Lurer du på om politikerne holder det de lover?</h3>
      <br>

      <p>Det vi gjør vi også. Derfor startet vi Holder de ord. Gjennom oss kan du få rask og enkel tilgang på informasjon om norsk politikk. Du kan holde deg oppdatert på:</p>

      <ul>
        <li>Hvordan politikerne har stemt i de sakene som interesserer deg</li>
        <li>Om partiene holde de politiske valgløftene som er viktigst for deg</li>
        <li>Hva din representant faktisk gjør på Stortinget</li>
      </ul>

      <p>Din støtte bidrar til at du enkelt kan følge med på hva som skjer i hjertet av norsk politikk.</p>

    </div>

    <div class="span6">
      <h3>Slik kan du støtte oss:</h3>
      <br>

      <p>Ved å sende kodeord <strong>HOLDERDEORD</strong> til <strong>2160</strong> støtter du oss med 150 kr. Beløpet blir belastet ditt mobilabonnement.</p>

      <p>Du kan også benytte kontonummer 1503 29 35408 og gi et valgfritt beløp. Skriv «Gave til HDO» i merknadsfeltet.</p>

      <p>Ditt bidrag er viktig for oss!</p>

      <p>Har du spørsmål? Send oss en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a>!</p>

    </div>
  </div>
</div>
