<div class="page-header">
  <h1>Gi en gave</h1>
</div>

<h3>Jo flere som bryr seg om politikk, jo bedre blir de politiske beslutningene.</h3>
<br>

<p>Ved å sende kodeord <strong>HOLDERDEORD</strong> til <strong>2160</strong> støtter du oss med 150 kr. Beløpet blir trukket fra på din neste faktura.</p>
<p>Din gave gir oss økt handlekraft slik at vi kan engasjere enda flere.</p>

<br>
<h3>Din gave går til å:</h3>

<ul>
  <li>Fremme politisk deltakelse og kunnskap.</li>
  <li>Øke interessen for en saksorientert politisk debatt.</li>
  <li>Støtte tiltak for mer åpen offentlig data.</li>
  <li>Formidle hvordan det politiske systemet fungerer og hvordan velgere kan være med på å utforme politikk.  </li>
  <li>Gjennomføre kampanjer for å øke interessen og oppmerksomheten rundt politikk.</li>
</ul>

<p>Har du spørsmål? Send en <a href="mailto:<%= obscure_email t('app.email') %>">epost</a>!</p>
