<% page_title 'Lisenser og viderebruk - Holder de ord' %>

<h1>Lisenser og viderebruk</h1>

<p><strong>Holder de ord er prinsipiell tilhenger av åpne data og fri kildekode. Vi ønsker at våre data og analyser skal gjenbrukes, og vi inviterer alle til å være med på å utvide databasen og bidra til kildekoden.</strong></p>

<p>Vi jobber med å utvikle et maskinelt grensesnitt (API) som vil forenkle tilgang til oppdaterte data. APIet vil ha en begrensning på bruk, slik at de som bruker databasen mye, vil måtte betale til drift av dette.</p>

<p>Ønsker du å integrere løpende oppdaterte politiske data på din nettside? Har du behov for spesialiserte analyser av stemmegivning innenfor et politikkområde? Holder de ord tilbyr analyse- og datatjenester, både løpende abonnementstjenester og spesialiserte analyse- og presentasjonsoppdrag.</p>

<p><a href="/home/services">Her kan du lese mer om tjenestene vi tilbyr</a></p>

<h2>Lisensbetingelser</h2>

<h3>Kildekode</h3>

<p>Kildekoden vår er åpent tilgjengelig på <a href="http://www.github.com/holderdeord">GitHub</a>. Koden er lisensiert med <a href="http://en.wikipedia.org/wiki/BSD_licenses#3-clause_license_.28.22Revised_BSD_License.22.2C_.22New_BSD_License.22.2C_or_.22Modified_BSD_License.22.29">modifisert BSD-lisens</a>, som gir ubegrenset tilgang til å redistribuere kildekoden til ethvert formål, inkludert kommersiell og/eller proprietær gjenbruk, så lenge lisensen legges ved produktet. Alle er velkomne til å bidra til videreutvikling av kodebasen, og oppfordres til å dele forbedringer og videreutvikling åpent med alle.</p>

<h3>Database og innhold</h3>

<p>Holder de ords egen database og innhold er tilgjengelig under lisensen <a href="http://creativecommons.org/licenses/by-sa/3.0/no/">Creative Commons Navngivelse-Del på samme vilkår 3.0</a>. Denne lisensen gir fri tilgang til å kopiere, distribuere og bearbeide databasen til ethvert formål, også kommersielle, dersom følgende to forutsetninger er oppfylt:</p>

<p><strong>Navngivelse:</strong> Følgende tekst skal oppgis som kilde: &quot;Informasjonen er hentet fra Holder de ord&quot;, sammen med en lenke til <a href="http://www.holderdeord.no">www.holderdeord.no</a>.</p>

<p><strong>Del på samme vilkår</strong>: Dersom du endrer, bearbeider eller bygger videre på våre data, så må det nye verket også lisensieres under de samme vilkårene. Eksempler på dette er å bygge Holder de ords data sammen med andre data, som nyhetsklipp og referater. Hensikten med denne regelen er å bygge og utvide en database med politiske data som er fritt tilgjengelige for allmennheten.</p>

<p>Unntak fra standard lisensvilkår kan gjøres etter nærmere avtale med Holder de ord.</p>

<h3>Avstemninger fra Stortinget</h3>

<p>Avstemningsdata fra oktober 2011 og fremover er hentet fra <a href="http://data.stortinget.no">data.stortinget.no</a> under <a href="http://data.norge.no/nlod/no">Norsk lisens for åpne data</a>. Før 2011 gjelder lisensbetingelsene ovenfor.</p>
