<div class="valence">
  <% issue.positions.order(:priority).each do |position| %>

    <div class="constellation">

      <div class="icon-list">
        <% position.parties.each do |party| %>
          <%= link_to issue_url(issue, anchor: party.slug) do %>
            <%= image_tag party.logo.versions[:medium] %>
          <% end %>
        <% end %>
      </div>

      <h3><%= position.title %></h3>

      <% if position.description.blank? %>
        <p><br><br></p>
      <% else %>
        <p><%= position.description %></p>
      <% end %>

    </div>

  <% end %>
</div>
