<div class="valence">
  <% issue.valence_issue_explanations.order(:priority).each do |valence| %>

    <div class="constellation">

      <div class="icon-list">
        <% valence.parties.each do |party| %>
          <%= image_tag party.logo.versions[:medium] %>
        <% end %>
      </div>

      <h3><%= valence.title %></h3>
      <p>
        <%= valence.explanation %>.
      </p>

    </div>

  <% end %>
</div>
