<div class="hdo-issue-widget">
  <h1><%= @issue.title %></h1>

  <p><%= @issue.description %></p>

  <ul>
  <% @parties.each do |party| %>
    <li><%= @issue.stats.text_for(party) %></li>
  <% end %>
  </ul>
</div>
