<header>
  <h1><%= Promise.model_name.human(count: 2).capitalize %></h1>
</header>

<article>
  <% @promise_groups.each do |parties, promises| %>
    <h2 class="party <%= slug_for_parties(parties) %>">
      <%= links_for_parties(parties).html_safe %>
    </h2>

    <ul>
      <% promises.each do |promise| %>
      <li>
        <%= link_to promise.body, promise_path(promise), class: 'promise-link' %>
      </li>
      <% end %>
    </ul>
  <% end %>
</article>
