defaults: &defaults
  elasticsearch_url: <%= ENV['ELASTICSEARCH_URL'] || ENV['BONSAI_URL'] || 'http://localhost:9200' %>
  basic_auth_users: <%= ENV['HDO_BASIC_AUTH'] || '' %>
  hipchat_api_token: <%= ENV['HIPCHAT_API_TOKEN'] || '' %>
  question_answer_email: sporsmalsvar@holderdeord.no
  default_bcc_email: test@holderdeord.no
  default_reply_to_email: sporsmalsvar@holderdeord.no
  statsd_host: 5.9.122.47 # ops1.holderdeord.no, but avoid DNS lookup
  statsd_port: 8125
  statsd_enabled: false
  read_only: false
  front_page_search_enabled: true
  fastly_enabled: false
  ssl_enabled: false
  ssl_host: ~
  analytics_enabled: false
  questions_enabled: true
  answers_enabled: true
  show_accountability: true
  widgets_enabled: true
  weights_enabled: true
  representative_widget_enabled: true
  leaderboard_enabled: true
  ignore_our_questions: true
  thermo_enabled: false
  frontpage_blog_enabled: true
  chat_notifications_enabled: false
  new_boundaries: false
  ignore_votes_against_alternate_budget: true
  valence_issues_enabled: true

development:
  <<: *defaults
  basic_auth_users: 'test:test'
  new_boundaries: true

test:
  <<: *defaults
  basic_auth_users: 'test:test'

staging:
  <<: *defaults
  statsd_enabled: true
  fastly_enabled: true
  ssl_enabled: true
  chat_notifications_enabled: true
  new_boundaries: true

production:
  <<: *defaults
  analytics_enabled: true
  questions_enabled: true
  answers_enabled: true
  representative_widget_enabled: false
  fastly_enabled: true
  ssl_enabled: true
  leaderboard_enabled: false
  frontpage_blog_enabled: true
  default_bcc_email: prodcopy@holderdeord.no
  chat_notifications_enabled: true
  valence_issues_enabled: false