<div class="tabbable">
  <ul class="nav nav-tabs">
    <li class="active">
      <a href="#proposition-connections-tab" data-toggle="tab">Koblede forslag</a>
    </li>

    <li>
      <a href="#proposition-search-tab" data-toggle="tab">Finn forslag</a>
    </li>

    <li class="pull-right">
      <%= image_tag 'spinner.gif', id: 'proposition-spinner', class: 'hidden' %>
    </li>
  </ul>

  <div class="tab-content">
    <div class="tab-pane active" id="proposition-connections-tab">
      <% issue.proposition_connections.includes(:proposition).
                                   sort_by { |pc| pc.vote.time }.
                                   reverse.each do |connection| %>

        <div class="proposition-connection" data-context='<%= connection.as_edit_view_json.to_json.html_safe %>'>
          Laster...
        </div>
      <% end -%>
    </div>

    <div class="tab-pane" id="proposition-search-tab">
      Ække klart ennå
    </div>
  </div>
</div>

<script data-name="proposition-search-template" type="text/x-handlebars-template">
  <div class="row-fluid">
    <div class="span4">
      {{> navigators}}
    </div>

    <div class="span8">
      {{> pagination}}

      {{#results}}
        <div class="search-result {{#selected}}selected{{/selected}} {{#connected}}connected{{/connected}}" data-type='proposition' data-id='{{id}}'>
          <div class="row-fluid">
            {{#if simple_description}}
              <span class="hdo-title">{{simple_description}}</span>
            {{else}}
              {{description}}
            {{/if}}
          </div>

          <div class="row-fluid">
            <small class="muted">
              {{parliament_session_name}}
              <a href="/propositions/{{id}}" target='_blank' class="pull-right">
                <img alt="Link" class="permalink" height="12" src="/assets/link.png" width="12">
              </a>
            </small>
          </div>
        </div>
      {{/results}}

      {{> pagination}}
    </div>
  </div>
</script>


<script data-name="proposition-connection-template" type="text/x-handlebars-template">
  <div class="row-fluid" data-expands="#proposition-connection-{{proposition_id}}-{{id}}">
    <div class="span3">
      <span class="expandable"></span>
      <span class="{{#unless vote_id}}{{#multiple_votes}}alert alert-error{{/multiple_votes}}{{/unless}}">{{vote_time}}</span>
    </div>

    <div class="span9">
      {{#if hdo_title}}
        <span class="hdo-title">{{title}}</span>
      {{else}}
        {{title}}
      {{/if}}

      <a href="/admin/propositions/{{proposition_id}}/edit" target="_blank" class="pull-right rightify">
        <img alt="Link" class="permalink" height="12" src="/assets/link.png" width="12">
      </a>
    </div>
  </div>

  <div class="row-fluid proposition-form" id="proposition-connection-{{proposition_id}}-{{id}}">
    <div class="row-fluid">
      <div class="span6">
        <textarea class="span12" placeholder="Overstyr tittel" name="propositions[{{proposition_id}}][][title]">{{connection_title}}</textarea>
      </div>

      <div class="span6">
        <label>
          <strong>Koblet til saken?</strong>
          <input type="checkbox" name="propositions[{{proposition_id}}][][connected]" {{#connected}}checked='checked'{{/connected}}>
        </label>

        {{#if multiple_votes}}
          <strong>Avstemning</strong>

          <select class="input-xlarge" name="propositions[{{proposition_id}}][][vote_id]">
            {{#votes}}
              <option value="{{id}}" {{#selected}}selected{{/selected}}>
                {{subject}}
              </option>
            {{/votes}}
          </select>
        {{/if}}
        <label>
      </div>
    </div>

    <div class="row-fluid">
      <div data-wmd-editor="{{proposition_id}}-{{id}}">
        <div class="span6">
          <strong>Kommentar</strong>
          <div id="wmd-button-bar-{{proposition_id}}-{{id}}"></div>

          <textarea class="span12" id="wmd-input-{{proposition_id}}-{{id}}" placeholder="Overstyr kommentar" name="propositions[{{proposition_id}}][][comment]" rows="10">{{{comment}}}</textarea>
        </div>

        <div class="span6">
          <strong>Forhåndsvisning</strong>
          <br><br>
          <div id="wmd-preview-{{proposition_id}}-{{id}}" class="well"></div>
        </div>
      </div>
    </div>
  </div>
</script>
