<div class="page-header">
  <h1><%= @district.name %> <small class="pull-right"><%= @district.external_id %></small></h1>
</div>

<%= render "shared/representatives_table", locals: { representatives: @district.representatives, show_party: true } %>

