<% title "#{@district.name} - #{District.model_name.human(count: 2).capitalize} - #{t('app.title')}" %>
<div class="page-header">
  <h1><%= @district.name %> <small class="pull-right"><%= @district.external_id %></small></h1>
</div>

<%= render partial: "shared/representatives_table", locals: { representatives: @district.representatives, show_party: true } %>

