<div class="page-header">
  <h1>Komiteer</h1>
</div>

<p class="pull-right">Viser <strong><%= @committees.size %></strong> komiteer.</p>


<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Navn</th>
    </tr>
  </thead>

  <tbody>
      <% @committees.each do |com| %>
      <tr>
        <td><%= com.id %></td>
        <td><%= link_to com.name, com %></td>
      </tr>
      <% end %>
  </tbody>
</table>
