<p>Kjære <%= @question.from_name %>,</p>

<p><%= @question.representative.name %> har nå besvart spørsmålet ditt. Les svaret og sjekk andre spørsmål og svar <%= link_to 'her', question_url(@question) %>. På denne siden kan du også dele spørsmålet ditt på Facebook og Twitter.</p>

<p>Ha en god dag!</p>

<p>Vennlig hilsen,</p>
<p>Holder de ord</p>