<h2>Kjære <%= @question.from_name %>,</h2>

<p>Ditt spørsmål er nå videresendt til <%= @question.representative.name %>, og har blitt publisert <%= link_to 'her', question_url(@question) %>. På denne siden kan du også dele spørsmålet ditt på Facebook og Twitter. Vi vil kontakte deg igjen når vi mottar et svar.</p>

<p>Ha en god dag!</p>

<p style="color:#666">Vennlig hilsen,<br/>
  Holder de ord</p>

<p style="font-size: small; color: #666;">Hvis det ikke er du som har sendt inn dette spørsmålet, si gjerne fra ved å svare på denne mailen.</p>