<p>Kjære <%= @question.representative.name %>,</p>

<p>Du har fått et nytt spørsmål fra en velger! </p>

<p><%= link_to 'Logg inn her', new_representative_session_url %> for å lese spørsmålet og legge inn ditt svar. </p>

<p>Spørsmålet er formidlet gjennom tjenesten <em>Spør en stortingspolitiker</em>, og har blitt moderert av Holder de ord. </p>

<p>Ha en god dag!</p>

<p>Vennlig hilsen,</p>
<p>Holder de ord</p>