<div class="progress">
  <div class="bar bar-success" style="width: <%= @stats.published_percentage %>%;"><%= @stats.published %> publiserte</div>
  <div class="bar" style="width: <%= @stats.pending_percentage %>%;"><%= @stats.pending %> nye</div>
</div>

