/* assets */
@district_logo_Akershus: '/assets/district_logos/Akershus.svg';
@district_logo_Oestfold: '/assets/district_logos/Oestfold.svg';
@district_logo_Oslo: '/assets/district_logos/Oslo.svg';
@district_logo_Hedmark: '/assets/district_logos/Hedmark.svg';
@district_logo_Oppland: '/assets/district_logos/Oppland.svg';
@district_logo_Buskerud: '/assets/district_logos/Buskerud.svg';
@district_logo_Vestfold: '/assets/district_logos/Vestfold.svg';
@district_logo_Telemark: '/assets/district_logos/Telemark.svg';
@district_logo_Aust-Agder: '/assets/district_logos/Aust-Agder.svg';
@district_logo_Vest-Agder: '/assets/district_logos/Vest-Agder.svg';
@district_logo_Rogaland: '/assets/district_logos/Rogaland.svg';
@district_logo_Hordaland: '/assets/district_logos/Hordaland.svg';
@district_logo_Sogn: '/assets/district_logos/Sogn_og_Fjordane.svg';
@district_logo_Moere: '/assets/district_logos/Moere_og_Romsdal.svg';
@district_logo_SOer-Troendelag: '/assets/district_logos/Soer-Troendelag.svg';
@district_logo_Nord-Troendelag: '/assets/district_logos/Nord-Troendelag.svg';
@district_logo_Nordland: '/assets/district_logos/Nordland.svg';
@district_logo_Troms: '/assets/district_logos/Troms.svg';
@district_logo_Finnmark: '/assets/district_logos/Finnmark.svg';
