@font-face {
    font-family: 'NeoSansStandard';
    src: url('/assets/NeoSansStd-Regular.eot'); /* IE9 Compat Modes */
    src: url('/assets/NeoSansStd-Regular.eot?#iefix') format('embedded-opentype'); /* IE6-IE8 */
    src: url('/assets/NeoSansStd-Regular.otf') format('opentype');
    src: url('/assets/NeoSansStd-Regular.woff') format('woff'); /* Modern Browsers */
    src: url('/assets/NeoSansStd-Regular.ttf') format('truetype'); /* Safari, Android, iOS */
    font-weight: normal;
    font-style: normal;
}
