@hdoPrimaryColor: #019ea2;
@hdoSecondaryColor: #e03d25;

.home-party-list {
  padding-top: 20px;
}

.home-party-logo {
  max-width: 14%;
  float: left;
  position: relative;
}

.home-party-logo {
  &:hover {
  }
}

.home-photo {
  border-radius: 4px;
}

.person {
  position: relative;
  padding-left: 70px;
  margin-bottom: 60px;
  &.board {
    padding-left: 135px;
    padding-right: 30px;
    .photo {
      width: 128px;
      height: 128px;
    }
    .name {
      margin-top: 0;
      font-size: 1.255em;
      a {
        color: inherit;
      }
    }
  }
  .photo {
    border-radius: 50%;
    background: #fff 50% 0% no-repeat;
    margin-bottom: 20px;
    box-shadow: 0 0 0 4px #fff, 0 0 0 5px rgba(0,0,0,0.1), 0 0 0 9px #fff, 0 0 0 10px rgba(0,0,0,0.033);
    width: 64px;
    height: 64px;
    position: absolute;
    top: 0;
    left: -10px;
  }
  .name {
    font-size: 1.25em;
    line-height: 1em;
    margin-bottom: 0;
  }
  .profession {
  }
  .bio {
    font-size: 0.9em;
    margin-top: 0.25em;
    line-height: 1.6em;
    word-break:break-word;
  }
}

.promoboxes {
  > div {
    padding: 5px 15px;
    &.promoted {
      background-color: lighten(desaturate(@hdoPrimaryColor,50),60);
    }
  }
}
