
@import "bootstrap/mixins";
@import "mixins";

@parties_num: 7;

.page-header {
  aside {
    line-height: 1em;
    margin-bottom: 0.5em;
  }
  .issue-description {
    font-size: 1.2em;
    line-height: 1.5em;
  }
}

figure.position {
  .canvas {
    .issue-graph-party {
      display: inline-block;
      width: 64px;
      img {
        width: 100%;
      }
    }
    br {
      display: none;
    }
    &.parties_3,
    &.parties_4,
    &.parties_5 {
      br:nth-child(4n) {
        display: inline-block;
      }
    }
    &.parties_6,
    &.parties_7 {
      br:nth-child(6n) {
        display: inline-block;
      }
    }
  }
  .issue-graph {
    text-align: center;
    border-bottom: 2px solid #eee;
    padding: 0.5em;
    padding: 3em 0;
    margin-bottom: 1em;
    .position {
      .clearfix;
      .axis {
        display: none;
      }
      .canvas {
        float: none;
        width: 100%;
      }
    }
  }
  .issue-graph-axis {
    .icon,
    .text {
      display: inline-block;
    }
  }
  figcaption {
    font-size: 0.9em;
  }
}

@media (max-width: 768px) {
  figure.position {
    .canvas {
      br {
        /* !important is needed because of dynamic classes */
        display: none !important;
      }
      .issue-graph-party {
        float: left;
        max-width: 44px;
      }
    }
    .issue-graph {
      .position {
        .canvas {
          float: right;
          width: 100% / (@parties_num + 1) * @parties_num;
        }
        .axis {
          float: left;
          width: 100% / (@parties_num + 1);
          display: block;
        }
      }
    }
    .issue-graph-axis {
      display: none;
    }
  }
}

.issue-party-group-title {
  color: #aaa;
  text-transform: uppercase;
  font-weight: normal;
  padding-left: 110px;
}

.issue-party {
  @space-left: 100% / (@parties_num + 1 );
  margin-bottom: 4em;
  margin-top: 1em;
  .issue-party-summary {
    font-size: 1.15em;
    line-height: 1.5em;
  }
  > header,
  > section {
    .clearfix;
    .content {
      padding-left: @space-left;
    }
    .icon {
      float: left;
      text-align: center;
      width: @space-left;
    }
  }
  > section img {
    opacity: 0.25;
  }
}

@media (max-width: 400px) {
  .issue-party {
    > section img {
      margin-top: 4px;
    }
  }
}

@media (min-width: 768px) {
  @space-left: 110px;
  .issue-party {
    > header,
    > section {
      .content {
        padding-left: @space-left;
      }
      .icon {
        width: @space-left;
      }
    }
  }
}

.proposition-body { display: none; }
