.vote-container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 3px;
}

.issues-party {
  padding: 18px 0px;
}

.issues-party-position {
  padding-bottom: 5px;
  font-size: 1.2em;
}

.issue-navigation {
  font-size: 0.8em;
  padding: 10px 0px;
}

.issue-big-links {
  font-size: 1.5em;

  > p {
    padding: 8px;
  }
}

.proposition-body {
  display: none;
}