.promise {
  margin-bottom: 20px;

  &.alert {
    padding: 0;
  }

  .logos {
    text-align: right;
    img {
      max-width: 32px;
    }
  }

  .details {
    white-space: nowrap;

    img.permalink {
      opacity: 0.5;
    }
  }

}

.promise-navigators {
  font-size: 0.8em;

  li { padding: 0 10px; }

  li.active {
    background-color: #efefef;
  }

}

.promises-current-query {
  padding-bottom: 20px;
}

