.proposition-feed {
  h4 { font-weight: bold; margin-bottom: 15px; }

  position: relative;
  width: 100%;
  overflow-x: hidden;
  overflow-y: scroll;

  .proposition-list {

    box-shadow: 0 -4px 20px rgba(0,0,0,0.03) inset,
                0 0 0 1px rgba(0,0,0,0.1) inset,
                0 1px 4px rgba(0,0,0,0.075);

    .see-all { margin: 0 5px 0 0; float: right; }

    .proposition {
      a {
        text-decoration: none;
        color: inherit;
      }

      border-radius: 2px;
      border-bottom: 1px solid #e8e8e8;
      display: block;
      position: relative;
      padding: 10px;
      color: inherit;


      &:hover {
        text-decoration: none;
        background-color: #f6f6f6;
        border-color: #eee;
      }

      &:active {
        background-color: #eee;
      }


      time {
        font-size: 12px;
        text-align: right;
      }
    }
  }
}