@import "bootstrap/mixins";
@import "mixins";


.qa-list {
  .qa-list-item {
    display: block;
    color: inherit;
    margin-bottom: 5px;
    padding: 5px 5px 3px 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    &:hover {
      background-color: #fafafa;
      border-color: #eee;
    }
    &:active {
      background-color: #f2f2f2;
      border-color: #e4e4e4;
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.qa-form-help {
  margin-bottom: 2em;
}
.qa-form-body {
  margin-top: 0.5em;
}

#new_question {
  .control-group {
    .chzn-container {
      max-width: 100% !important; /* Override to make tablets look ok */
    }
    label {
      text-indent: 0.5em;
      margin-bottom: 0;
      font-size: 0.8em;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #666;
    }
  }
  .show_name {
    margin: 0 20px;
    display: inline;
    vertical-align: -2px;
    input {
      vertical-align: 1px;
    }
  }
}

.qa-single {
  h1 a {
    color: inherit;
  }
  .question, .answer {
    margin-bottom: 60px;
    h4 {
      margin-bottom: 0;
      font-weight: normal;
      a:first-child {
        color: inherit;
      }
    }
    time {
      display: block;
      margin-bottom: 0.5em;
    }
  }
  .span2 {
    padding: 10px 10px 0 10px;
    .avatar {
      width: 100%;
    }
  }
}

.questions-index {
  .question {
    display: block;
    color: inherit;
    position: relative;
    margin-bottom: 10px;
    margin-right: 50px;
    padding: 10px 10px 10px 80px;
    border-radius: 2px;
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05) inset;
    background-color: #fff;
    .avatar-container {
      position: absolute;
      width: 64px;
      height: 64px;
      box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.05s), 0 1px 2px rgba(0, 0, 0, 0.2s);
      border-radius: 2px;
      margin-bottom: 1em;
      left: -10px;
      top: 10px;
      .representative {
        border-radius: 2px;
        width: 100%;
        height: 100%;
      }
      .party-logo {
        position: absolute;
        width: 32px;
        height: 32px;
        right: -15px;
        bottom: -10px;
      }
    }
    p {
      min-height: 2em;
    }
    aside {
      font-size: 0.85em;
      line-height: 1.5em;
    }
    &:hover {
      background-color: #eee;
      text-decoration: none;
    }
    &:active {
      background-color: #ddd;
    }
  }
}
