@import "bootstrap/mixins";
@import "mixins";


.qa-list {
  .qa-list-item {
    display: block;
    color: inherit;
    margin-bottom: 5px;
    padding: 5px 5px 3px 5px;
    border-radius: 3px;
    border: 1px solid transparent;
    &:hover {
      background-color: #fafafa;
      border-color: #eee;
    }
    &:active {
      background-color: #f2f2f2;
      border-color: #e4e4e4;
    }
    div {
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }
}


.qa-form-help {
  margin-bottom: 2em;
}
.qa-form-body {
  margin-top: 0.5em;
}

#new_question {
  .control-group {
    .chzn-container {
      max-width: 100% !important; /* Override to make tablets look ok */
    }
    label {
      text-indent: 0.5em;
      margin-bottom: 0;
      font-size: 0.8em;
      letter-spacing: 1px;
      text-transform: uppercase;
      color: #666;
    }
  }
  .show_name {
    margin: 0 20px;
    display: inline;
    vertical-align: -2px;
    input {
      vertical-align: 1px;
    }
  }
}

.qa-single {
  h1 {
    a:first-child {
      color: inherit;
    }
  }
  .question {
  }
  .answer {
    h4 {
      a:first-child {
        color: inherit;
      }
    }
    margin-top: 20px;
  }
  .avatar {
    width: 100%;
    margin-top: 20px;
  }
}
