// Place all the styles related to the Representatives controller here.
// They will automatically be included in application.css.

@import "bootstrap/mixins";

@hdoPrimaryColor: #019ea2;
@hdoSecondaryColor: #e03d25;

.representative-profile {
  .clearfix;
  .representative-name {
    font-weight: 300;
  }
  .representative-image {
    background: #fff;
    box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
    width: 240px;
    height: 320px;
    float: left;
    margin-right: 20px;
    position: relative;
    top: -100px;
    margin-bottom: -120px;
  }
  aside {
    font-family: "Neo Sans", sans-serif;
    .representative-district a,
    .representative-party a {
      text-transform: uppercase;
      font-weight: bold;
      text-transform: uppercase;
    }
    .representative-district a {
      color: #000;
    }
    .representative-committee-list {
      color: #999;
      margin: 0;
      dd {
        margin: 0;
        a {
          color: inherit;
        }
      }
    }
  }
}

@media (max-width: 767px) {
  .representative-profile {
    .representative-name {
      font-size: 1.5em;
      line-height: 1.25em;
    }
    .representative-name,
    aside {
      margin-left: 140px;
    }
    .representative-image {
      top: -60px;
      width: 120px;
      height: 160px;
    }
  }
}

.twitter-timeline {
  width: 100%;
}

.representative-dashboard {
  .stat {
    text-align: center;
    h1 {
      font-size: 3.2em;
    }
  }

  .question {
    border-bottom: 1px solid #ddd;
    margin-bottom: 1em;
  }

  table {
    table-layout: fixed;
  }


}