// Place all the styles related to the Representatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

$representative-width:  120px;
$representative-height: 230px;

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

@mixin radial-gradient($gradient) {
    background-image: -webkit-radial-gradient($gradient);
    background-image: -moz-radial-gradient($gradient);
    background-image: -ms-radial-gradient($gradient);
    background-image: -o-radial-gradient($gradient);
    background-image: radial-gradient($gradient);
}
@mixin image-and-radial-gradient($image, $gradient) {
    background-image: url($image), -webkit-radial-gradient($gradient);
    background-image: url($image), -moz-radial-gradient($gradient);
    background-image: url($image), -ms-radial-gradient($gradient);
    background-image: url($image), -o-radial-gradient($gradient);
    background-image: url($image), radial-gradient($gradient);
}
@mixin box-shadow($shadow) {
  -webkit-box-shadow: $shadow;
  -moz-box-shadow: $shadow;
  -ms-box-shadow: $shadow;
  -o-box-shadow: $shadow;
  box-shadow: $shadow;
}

.representative-image {
  @include box-shadow(#{5px 7px 15px #888});
  max-width: 240px;
  border-radius: 6px;
}

.representative-view {
  max-width: 25%;
  float: left;
}

.representative-carousel-view {
  max-width: 150px;
  margin-right: 10px;
}

.representatives-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include clearfix;

    > li {
        float: left;
        margin-bottom: 30px;
        margin-right: 15px;
        position: relative;

        & > div {
		    border-radius: 6px;
		    min-height: $representative-height;
		    overflow: hidden;
		    width: $representative-width;
            @include box-shadow(#{0 0 5px grey});	
        }
        .district {
            display: none;
        }
    }
    .region,
    .org 
    {
        background-repeat: no-repeat;
        display: block;
        overflow: hidden;
        position: absolute;
        text-indent: -1000em;
        height: 40px;
        right: 5px;
        top: 115px;
    }
    
    .region {
        display: none;
        width: 36px;
        background-size: contain;
    }

    .org {
        border-radius: 20px 20px;
        width: 40px;
        
        &.party-KrF {
            @include image-and-radial-gradient(
                '/assets/party_logos/KrF_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-FrP {
            @include image-and-radial-gradient(
                '/assets/party_logos/FrP_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-A {
            @include image-and-radial-gradient(
                '/assets/party_logos/A_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-H {
            @include image-and-radial-gradient(
                '/assets/party_logos/H_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-Sp {
            @include image-and-radial-gradient(
                '/assets/party_logos/Sp_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-SV {
            @include image-and-radial-gradient(
                '/assets/party_logos/SV_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }
        &.party-V {
            @include image-and-radial-gradient(
                '/assets/party_logos/V_badge_small.jpg', 
                #{center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px}
            );
        }

    }
    img {
        width: $representative-width;
    }
    .representative-image {
        @include box-shadow(none);
        border-radius: 0;
    }
    .fn {
        margin: 5px 10px;
        display: inline-block;
    }
    &[class*='party-'] {
    	.org {
    		display: none;
    	}
    	.region {
    		display: block;
    	}
    }
}

.representatives-sort-criteria-heading {
	padding-left: 30px;
	background-repeat: no-repeat;
	background-size: auto 30px;
}

.representatives-list .region, 
.representatives-sort-criteria-heading {
    &.district-Akershus {
        background-image: url('/assets/district_logos/Akershus.svg');
    } 
    &.district-Østfold {
        background-image: url('/assets/district_logos/Oestfold.svg');
    }
    &.district-Oslo {
        background-image: url('/assets/district_logos/Oslo.svg');
    } 
    &.district-Hedmark {
        background-image: url('/assets/district_logos/Hedmark.svg');
    } 
    &.district-Oppland {
        background-image: url('/assets/district_logos/Oppland.svg');
    } 
    &.district-Buskerud {
        background-image: url('/assets/district_logos/Buskerud.svg');
    } 
    &.district-Vestfold {
        background-image: url('/assets/district_logos/Vestfold.svg');
    } 
    &.district-Telemark {
        background-image: url('/assets/district_logos/Telemark.svg');
    } 
    &.district-Aust-Agder {
        background-image: url('/assets/district_logos/Aust-Agder.svg');
    } 
    &.district-Vest-Agder {
        background-image: url('/assets/district_logos/Vest-Agder.svg');
    } 
    &.district-Rogaland {
        background-image: url('/assets/district_logos/Rogaland.svg');
    } 
    &.district-Hordaland {
        background-image: url('/assets/district_logos/Hordaland.svg');
    } 
    &.district-Sogn {
        background-image: url('/assets/district_logos/Sogn_og_Fjordane.svg');
    } 
    &.district-Møre {
        background-image: url('/assets/district_logos/Moere_og_Romsdal.svg');
    } 
    &.district-Sør-Trøndelag {
        background-image: url('/assets/district_logos/Soer-Troendelag.svg');
    } 
    &.district-Nord-Trøndelag {
        background-image: url('/assets/district_logos/Nord-Troendelag.svg');
    } 
    &.district-Nordland {
        background-image: url('/assets/district_logos/Nordland.svg');
    } 
    &.district-Troms {
        background-image: url('/assets/district_logos/Troms.svg');
    } 
    &.district-Finnmark {
        background-image: url('/assets/district_logos/Finnmark.svg');
    } 
}
