// Place all the styles related to the Representatives controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

@mixin clearfix {
	&:before,
	&:after {
		content: '';
		display: table;
	}
	&:after {
		clear: both;
	}
}

.representative-image {
  max-width: 240px;
  -moz-box-shadow: 5px 7px 15px #888;
  -webkit-box-shadow: 5px 7px 15px #888;
  box-shadow: 5px 7px 15px #888;
  border-radius: 6px;
}

.representative-view {
  max-width: 25%;
  float: left;
}

.representative-carousel-view {
  max-width: 150px;
  margin-right: 10px;
}

.representatives-list {
    list-style: none;
    margin: 0;
    padding: 0;

    @include clearfix;

    li {
        float: left;
    }
    .org {
        display: block;
        width: 40px;
        height: 40px;
        position: absolute;
        right: 5px;
        top: 115px;
        overflow: hidden;
        background-image: -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        border-radius: 20px 20px;
        text-indent: -1000em;
        background-repeat: no-repeat;
        
        &.party-KrF {
            background-image: url('/assets/party_logos/KrF_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
	}
        &.party-FrP {
            background-image: url('/assets/party_logos/FrP_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }
        &.party-A {
            background-image: url('/assets/party_logos/A_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }
        &.party-H {
            background-image: url('/assets/party_logos/H_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }
        &.party-Sp {
            background-image: url('/assets/party_logos/Sp_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }
        &.party-SV {
            background-image: url('/assets/party_logos/SV_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }
        &.party-V {
            background-image: url('/assets/party_logos/V_badge_small.jpg'), -moz-radial-gradient(center center, circle cover, #fff , #fff 18px, rgba(255, 255, 255, 0) 20px);
        }

    }
    img {
        width: 120px;
    }
    .representative-image {
	box-shadow: none;
        -moz-box-shadow: none;
        -webkit-box-shadow: none;
	border-radius: 0;
        
    }
    .fn {
        margin: 5px 10px;
        display: inline-block;
    }
    .vcard {
        box-shadow: 0 0 5px grey;
        margin-bottom: 30px;
        margin-right: 15px;
	border-radius: 6px;
        position: relative;
        width: 120px;
        overflow: hidden;
        min-height: 220px;
        &:hover {
	    -moz-transform-3d: translate(20,20,10);
	}
        .district {
            display: none;
        }
    }
}

