@hdoPrimaryColor: #019ea2;
@hdoSecondaryColor: #e03d25;

.issue-list,
.vote-list {
  list-style: none;
  margin: 0;
  li {
    margin-bottom: 5px;
    font-size: 0.9em;
    a {
      &:hover {
        text-decoration: none;
        .issue-list-text {
          text-decoration: underline;
        }
      }
      color: inherit;
      .issue-against,
      .issue-for_and_against,
      .issue-for {
        background-color: #eaeaea;
        margin-right: 3px;
        box-shadow: 3px 0 0 1px #eaeaea, -3px 0 0 1px #eaeaea;
        border-radius: 2px;
      }
      time {
        color: #999;
        text-transform: lowercase;
      }
    }
  }
}

.tagblock-caption {
  margin-bottom: 0;
  &:first-letter {
    text-transform: capitalize;
  }
  a {
    color: inherit;
  }
}

.tagblock {
  border-top: 1px solid #eee;
  border-bottom: 1px solid #eee;
  background: #fafafa;
  margin-bottom: 20px;
  padding: 10px;
  article {
    word-break: break-word;
    padding: 0 10px;
    margin-bottom: 10px;
    &:hover {
      background-color: desaturate( lighten(@hdoPrimaryColor, 60%), 55%);
    }
    &:active {
      background-color: desaturate( lighten(@hdoPrimaryColor, 55%), 55%);
    }
    > a {
      color: inherit;
      text-decoration: none;
    }
    p {
      color: #555;
    }
    figure {
      margin: 0;
      display: block;
      height: 100px;
      background-size: cover;
    }
    h4 {
      font-weight: inherit;
      margin-bottom: 0.25em;
    }
    .read-more {
      color: @hdoPrimaryColor;
    }
    &:hover .read-more {
      text-decoration: underline;
      color: darken(@hdoPrimaryColor, 5%);
    }
  }
}

.avatar {
  border-radius: 50%;
  background: #fff 50% 0% no-repeat;
  box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 10px rgba(0,0,0,0.025);
  height: auto;
}
a:hover .avatar {
  box-shadow: 0 0 5px rgba(0,0,0,0.15), 0 0 0 1px rgba(0,0,0,0.05), 0 0 0 10px rgba(0,0,0,0.05);
}
