.vote-container {
  border: 1px solid black;
  border-radius: 4px;
  padding: 10px;
  margin: 3px;
}

.topics-party {
  padding: 18px 0px;
}

.topics-party-position {
  padding-bottom: 5px;
}

.topic-navigation {
  padding: 10px 0px;
}

#Topics {
  .field-link {
    padding-left: 1em;
    &:after {
      content: ")";
    }
    &:before {
      content: "(";
    }
  }
  .field-votes {
    table {
      width: 100%;
      td.vote-number {
        width: 5%;
      }
      td.vote-bar {
        width: 20%;
        span.vote-bar {
          height: 1em;
        }
      }
    }
  }
}