// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.vote-for {
  color: #468847;
}

.vote-against {
  color: #B94A48;
}

.vote-absent {
  color: #3A87AD;
}

.wide-table-header {
  min-width: 80px;
}

.facts-box {
  border: 1px solid #EEEEEE;
  background-color: #F2F2F2;
  padding-left: 10px;
  padding-bottom: 10px;
  margin-bottom: 1em;

  p {
    margin: 0px 0px 0px;
    color: #4D4D4D;
  }
}

.state-column {
  cursor: hand;
  cursor: pointer;

  p:hover {
    text-decoration: underline;
  }

}

.representatives-list {
  margin-left: 35px;
  margin-bottom: 10px;

  p {
    margin: 0;
  }
}