<p>Hei <%= @resource.name %>!</p>

<p>Noen har fortalt oss at du har glemt passordet ditt. Du kan følge lenken nedenfor for å sette et nytt et.</p>

<p><%= link_to 'Lag nytt passord', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %></p>

<p>Dersom du ikke har glemt passordet ditt, kan du trygt ignorere denne e-posten.</p>

<p>Passordet ditt blir ikke endret hvis du ikke klikker på linken over og lager et nytt passord.</p>

<p>Hilsen, Holder de ord.</p>