<h2>Kjære <%= @resource.name %></h2>

<p>Du får denne mailen fordi du har bedt om å få et nytt passord på holderdeord.no. </p>

<p><%= link_to 'Klikk her', edit_password_url(@resource, :reset_password_token => @resource.reset_password_token) %> for å sette nytt passord og logge inn.</p>

<p>Hvis det ikke er du som har bedt om nytt passord, er det bare å overse denne mailen. Kontakt oss på <%= mail_to 'sporsmalsvar@holderdeord.no' %> hvis du har noen spørsmål.</p>

<p>Ha en god dag!</p>

  <p style="color:#666">Vennlig hilsen,<br/>
Holder de ord</p>