  <ul class="fields-list">
    <% fields.each do |field| %>
      <li>
        <div class="field-card" style="background-image: url('<%= field.image_with_fallback.thumb('120x120#').strip.url %>');">
          <%= link_to field do %>
            <h4 class="field-name">
              <%= field.name.capitalize %>
            </h4>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
