<div class="well">
  <div class="row">
    <% fields.each do |field| %>
      <div class="vcard field-card">
        <%= link_to field do %>
          <%= image_tag field.image_with_fallback.thumb('100x100#').strip.url, class: 'field-image' %>
          <br/><br/>
          <span><%= field.name %></span>
        <% end %>
      </div>
    <% end %>
  </div>
</div>