  <ul class="fields-list">
    <% fields.each do |field| %>
      <li class="field">
        <div class="vcard">
          <%= link_to field do %>
            <%= image_tag field.image_with_fallback.thumb('120x120#').strip.url, class: 'field-image' %>
            <span class="n fn">
              <%= field.name.capitalize %>
            </span>
          <% end %>
        </div>
      </li>
    <% end %>
  </ul>
