<table class="table table-condensed">
  <% topics.each do |topic| %>
    <tr>
      <td class="topic-list">
        <%= link_to topic.title.capitalize, topic %>
      </td>
    </tr>
  <% end %>
</table>
