<div class="well">
  <table class="table table-striped">
    <% topics.each do |topic| %>
      <tr>
        <td class="topic-list">
          <%= link_to topic do %>
            <strong><%= topic.title.capitalize %></strong>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>