<% fields = Field.all %>
<% topics = Topic.all order: :title %>

<h1>Sjekk hva partiene har lovet og stemt i saker som er viktig for deg:</h1>
<%= render partial: 'fields_list', locals: { :fields => fields } %>
<h1>Mest populære tema:</h1>
<%= render partial: 'topics_list', locals: { :topics => topics } %>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_field_path,
            :class => 'btn btn-primary' %>
