<% fields = Field.all %>
<h1>Sjekk hva partiene har lovet og stemt i saker som er viktig for deg:</h1>
<div class="well">
  <% fields.each do |field| %>
    <div class="vcard">
      <%= link_to field do %>
        <%= image_tag field.image_with_fallback.thumb('100x100#').strip.url %>
        <br/>
        <span><%= field.name %></span>
      <% end %>
    </div>
  <% end %>
</div>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_field_path,
            :class => 'btn btn-primary' %>
