<div class="row-fluid">
  <h1>Tema relatert til <%= @field.name %></h1>
</div>

<div class="row-fluid">
  <ul class="unstyled">
    <% @field.topics.each do |topic| %>
    <li>
      <h3><%= link_to topic.title, topic %></h3>
    </li>
    <% end %>
  </ul>
</div>
