<div class="page-header">
  <h1><%= Vote.model_name.human(count: 2).capitalize %></h1>
</div>

<p id="app.counts.vote" class="pull-right">
  <%= page_entries_info @votes %>.
</p>

<%= render partial: "shared/votes_summary_table", locals: {votes: @votes, show_issues: true } %>
<%= paginate @votes %>