/* HDO-site globals  */
@import "fonts.css.less";


/* Widget variables */
@gutter: 55px;
@padding: 20px;


html {
  background-color: #eee;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;
  background-color: #fff;
  font: 15px/18px "Helvetica Neue", sans-serif;
  margin: 3px;
  padding-bottom: @padding*2;
  border: 1px solid #ccc;
  word-break: break-word;
  position: relative;
  color: #000;
}

img {
  border: none;
}

h1, h2, h3 {
  font-family: "Neo Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin: 0 0 0.25em 0;
  line-height: 1em;
}

h1 {
  font-size: 2em;
  + p {
    margin-top: 0;
  }
}

h2 {
  font-size: 1.25em;
}

p {
  line-height: 1.4em;
}

a {
  color: #019ea2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  }
}

header {
  padding: @padding @padding 0 @padding;
}

article {
  display: block;
  padding: @padding/2 @padding @padding @padding;
}

footer {
  position: absolute;
  font-size: 0.85em;
  left: 0;
  right: 0;
  bottom: 0;
  border-top: 1px solid #cfe4e5;
  a {
    height: 24px;
    display: block;
    padding: 5px 9px 5px @padding*2.3;
    background-color: #dcf1f2;
    color: #708b8c;
    -webkit-transition: 0.4s;
    -moz-transition: 0.4s;
    -ms-transition: 0.4s;
    transition: 0.4s;
    &:hover {
      background-color: #d1eced;
      text-decoration: none;
      -webkit-transition: 0;
      -moz-transition: 0;
      -ms-transition: 0;
      transition: 0;
    }
  }
  p {
    margin: 0;
    line-height: 24px;
  }
  img {
    height: 20px;
    width: 20px;
    position: absolute;
    left: @padding;
    top: 6px;
  }
}

.committees {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  color: #999;
  font-family: "Neo Sans", "Helvetica Neue", sans-serif;
  .committee {
    padding: 3px 0;
    a {
      color: #999;
    }
  }
}

.positions {
  .position {
    padding-left: @gutter;
    min-height: 60px;
    margin: 20px 0;
    background: transparent -5px 10px no-repeat;
    &.for {
      background-image: asset-url("taxonomy-icons/issue_for.png");
    }
    &.for_and_against {
      background-image: asset-url("taxonomy-icons/issue_for_and_against.png");
    }
    &.against {
      background-image: asset-url("taxonomy-icons/issue_against.png");
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.votes {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  .vote {
    padding: 3px 0;
  }
}


/* Party specific text colors */

// TODO: replace party.name with party.external_id ("FrP") or party.slug ("frp")

.Fremskrittspartiet        {color: #003798}
.Høyre                     {color: #005595}
.Venstre                   {color: #83b660}
.Kristelig.Folkeparti      {color: #efae52}
.Arbeiderpartiet           {color: #df1a22}
.Senterpartiet             {color: #008542}
.Sosialistisk.Venstreparti {color: #db0027}

/* Party specific background colors */
.background.Fremskrittspartiet        {background-color: #003798}
.background.Høyre                     {background-color: #005595}
.background.Venstre                   {background-color: #83b660}
.background.Kristelig.Folkeparti      {background-color: #efae52}
.background.Arbeiderpartiet           {background-color: #df1a22}
.background.Senterpartiet             {background-color: #008542}
.background.Sosialistisk.Venstreparti {background-color: #db0027}

.deco-bg {
  height: 4px;
}


/* Non-global styling */
.widget {
  &.representative {
    header {
      display: block;
      padding-right: 140px;
      img {
        background-color: #fff;
        position: absolute;
        right: 15px;
        top: 15px;
        border: 1px solid #fff;
        box-shadow: 0 0 0 1px rgba(0,0,0,0.1), 0 0 8px rgba(0,0,0,0.2);
        height: 160px;
        width: 120px;
      }
    }
  }
  &.party {
    header {
      display: block;
      padding-right: 100px;
    }
    h1 {
      img {
        float: left;
        width: 48px;
        height: 48px;
        margin-top: -13px;
        margin-left: -10px;
      }
    }
  }
  &.issue {
    header {
      border-top: 4px solid #000;
    }
  }
}
