/* Holder de ord header font */
@font-face {
  font-family: "Neo Sans";
  src: font-url("/assets/NeoSansStd-Regular.eot"); /* IE9 Compat Modes */
  src: font-url("/assets/NeoSansStd-Regular.eot?#iefix") format("embedded-opentype"); /* IE6-IE8 */
  src: font-url("/assets/NeoSansStd-Regular.otf") format("opentype");
  src: font-url("/assets/NeoSansStd-Regular.woff") format("woff"); /* Modern Browsers */
  src: font-url("/assets/NeoSansStd-Regular.ttf") format("truetype"); /* Safari, Android, iOS */
  font-weight: normal;
  font-style: normal;
}

body {
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-font-smoothing: antialiased;
  -ms-font-smoothing: antialiased;
  font-smoothing: antialiased;

  background: #fff 50% 0 no-repeat;
  font: 15px/18px "Helvetica Neue", sans-serif;
  margin: 0;
  border: 3px solid #eee;
  box-shadow: inset 0 0 0 1px #ccc;
  word-break: break-word;
  position: relative;
  color: #000;
}

h1, h2, h3 {
  font-family: "Neo Sans", "Helvetica Neue", sans-serif;
  font-weight: normal;
  margin: 0 0 0.25em 0;
  line-height: 1em;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1.25em;
}

p {
  line-height: 1.4em;
}

a {
  color: #019ea2;
  text-decoration: none;
  &:hover {
    text-decoration: underline;
  };
}

footer {
  position: absolute;
  font-size: 0.85em;
  color: #708b8c;
  left: 1px;
  right: 1px;
  bottom: 1px;
  height: 40px;
  padding: 5px 9px 5px 50px;
  background-color: #dcf1f2;
  border-top: 1px solid #cfe4e5;
  p {
    margin: 0;
    line-height: 40px;
  }
  img {
    height: 32px;
    width: 32px;
    position: absolute;
    left: 10px;
    top: 9px;
  }
}

.positions {
  .position {
    padding-left: 45px;
    margin: 20px 0;
    background: transparent -5px 10px no-repeat;
    &.for {
      background-image: asset-url("taxonomy-icons/issue_for.png");
    }
    &.undecided {
      background-image: asset-url("taxonomy-icons/issue_for_and_against.png");
    }
    &.against {
      background-image: asset-url("taxonomy-icons/issue_against.png");
    }
    ul {
      margin: 0;
      padding: 0;
      list-style: none;
    }
  }
}

.votes {
  list-style: none;
  margin: 10px 0;
  padding: 0;
  .vote {
    padding: 3px 0;
  }
}


/* Party specific colors */
.Fremskrittspartiet        {color: #003798}
.Høyre                     {color: #005595}
.Venstre                   {color: #83b660}
.Kristelig.Folkeparti      {color: #efae52}
.Arbeiderpartiet           {color: #df1a22}
.Senterpartiet             {color: #008542}
.Sosialistisk.Venstreparti {color: #db0027}


/* Non-global styling */
.widget {
  padding: 20px 20px 60px 20px;
  background: transparent 50% 0 no-repeat;
  position: relative;
  &.representative {
    background: transparent asset-url("widgets/fade_white.png") 0 -10px repeat-x;
    padding-top: 200px;
  }
  &.party {
    h1 {
      position: relative;
      padding-left: 55px;
      img {
        position: absolute;
        left: 0;
        top: -16px;
        height: 50px;
        width: auto;
      }
    }
    .vote {
      margin-left: 55px;
    }
  }
  &.issue {
  }
}
