<div class="slide-out-div">
  <h3>Kontakt oss</h3>
  <p>Gi oss tilbakemelding p책 v책r nettside ved 책 <a class="handle"><a href="mailto:kontakt@holderdeord.no?subject=Feedback">
    sende oss en e-post</a></a>.</p>
  <p>Vi setter pris p책 alle kommentarer.</p>
</div>