<div id="feedback-content">
  <p>Vi blir alltid glade for tilbakemeldinger fra våre brukere, enten det er ris eller ros!</p>

  <a class="handle hidden-phone">
    <%= link_to 'Send oss en epost', "mailto:#{t 'app.email'}?subject=Tilbakemelding", class: 'btn btn-primary' %>
  </a>
</div>