<div class="slide-out-div">
  <h3>Kontakt oss</h3>
  <p>Vi blir alltid glade for tilbakemeldinger fra våre brukere, enten det er ris eller ros!</p>
  <p>Gi oss gjerne ditt innspill.</p>
  <a class="handle"><a class="btn btn-primary" href="mailto:kontakt@holderdeord.no?subject=Feedback">
    Sende oss en e-post</a></a>
</div>