<footer>
  <div class="container">
    <div class="row-fluid">


      <div class="span4">
        <%= render 'layouts/social'%>
        <p><%=t 'app.title' %> &copy; 2012.</p>
      </div>


    </div>
  </div>
</footer>
