<footer>
  <div class="container">
    <div class="row-fluid">

      <div class="span4">
        <p>
          <a href="https://twitter.com/holderdeord" class="twitter-follow-button" data-show-count="true" data-lang="no">Følg @holderdeord</a>
          <div class="fb-like" data-href="https://www.facebook.com/holderdeord" data-send="false" data-layout="button_count" data-width="70" data-show-faces="false"></div>
        </p>
        <div id="fb-root"></div>
        <p>
          <span class="muted"><%=t 'app.title' %> &copy; <%= Time.now.year %></span>
          <small><%= link_to t('app.login'), new_user_session_path %></small>
        </p>
      </div>

      <div class="span4"></div>

      <div class="span4">
        <div>Ris, ros eller noe som ikke virker?</div>
        <%= mail_to t('app.email'), 'Gi beskjed!', encode: 'hex', subject: 'Tilbakemelding'  %>
      </div>

    </div>
  </div>
</footer>
