<nav class="pull-right">

  <% if representative_signed_in? %>
    <%= link_to t('app.my_page'), representative_root_path %>
    <%= link_to t('app.logout'), destroy_representative_session_path, method: 'delete' %>
    <%= link_to t('app.users.change_password'),  edit_representative_registration_path %>
  <% else %>
    <%= link_to t('app.login'), new_representative_session_path  %>
  <% end %>

</nav>
