<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'widgets/widgets' %>
  </head>
  <body>
    <%= yield %>

    <% if nrk? %>
      <script src="http://nrk.no/serum/latest/js/sandbox.js"></script>
    <% end %>
    <footer>
      <p>
        Les mer på <a href="http://holderdeord.no">holderdeord.no</a>
      </p>
    </footer>
  </body>
</html>
