<!DOCTYPE html>
<html>
  <head>
    <!--[if lt IE 9]>
      <%= javascript_include_tag "conditional/html5" %>
    <![endif]-->
    <%= stylesheet_link_tag 'widgets/widgets' %>
  </head>
  <body>
    <%= yield %>

    <footer>
      <p>
        Les mer på <%= link_to 'holderdeord.no', root_url, target: '_top' %>
      </p>
    </footer>

    <% if nrk? %>
      <script src="http://nrk.no/serum/latest/js/sandbox.js"></script>
    <% end %>
  </body>
</html>
