<br>
  <% @grouped_by_party.each do |party, promises| %>
      <h3><%= link_to Party.find(party).name, party_path %></h3>
      <ul>
      <% promises.each do |p| %>
        <li><%= p.body.capitalize %></li>
      <% end %>
      </ul>
    <% end %>
